Meta Cloud API - CRM Production.json
{
  "name": "Meta Cloud API - AI WhatsApp CRM + Supabase CRM v3",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7584,
        2096
      ],
      "id": "91117f76-566d-4d13-a0f6-41f7ca6fd00d",
      "name": "Webhook GET",
      "webhookId": "b7c3e001-get-4a00-b000-whatsapp00001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "verify-token-match",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "=nexora_lab_2026_automation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "mode-is-subscribe",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7824,
        2096
      ],
      "id": "0b98910f-29f9-4d28-8000-ff23a2eebf80",
      "name": "Verify Token"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook GET').item.json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        8096,
        2016
      ],
      "id": "6271ee51-de88-48d9-9536-ae76554901b3",
      "name": "Return Challenge"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        8096,
        2144
      ],
      "id": "94ac8f9d-9fe2-49db-9a55-a916c567cde3",
      "name": "Reject Verification"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7584,
        2432
      ],
      "id": "42c4bc71-7b4e-4313-8dda-addb1144c553",
      "name": "Webhook POST",
      "webhookId": "b7c3e001-post-4a00-b000-whatsapp00002"
    },
    {
      "parameters": {
        "jsCode": "// Duplicate message protection using workflow static data (production-safe, fail-open)\n// This blocks the vast majority of duplicate webhook deliveries from Meta (formal\n// retries, delayed re-sends that arrive after this workflow has already finished\n// once). It is paired with \"Send Guard\" right before the WhatsApp send, which is\n// the tighter of the two checks. Kept intentionally lean (capped size + time-based\n// expiry below) so this lookup stays fast on every single execution, forever —\n// a bloated cache here slows down every future run and widens the collision window.\ntry {\n  const body = $input.first().json.body;\n  const messageId = body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id;\n\n  // No message ID means status update or malformed — pass through for filtering\n  if (!messageId) {\n    return [{ json: $input.first().json }];\n  }\n\n  // Get global static data cache\n  const cache = $getWorkflowStaticData('global');\n  if (!cache.processedMessages) {\n    cache.processedMessages = {};\n  }\n\n  const now = Date.now();\n  const MAX_AGE_MS = 6 * 60 * 60 * 1000; // 6 hours is plenty — real duplicates arrive within seconds/minutes\n  const MAX_ENTRIES = 300;\n\n  // Housekeeping: only runs once the cache actually grows, first by age then by size.\n  const keys = Object.keys(cache.processedMessages);\n  if (keys.length > MAX_ENTRIES) {\n    for (const k of keys) {\n      if (now - cache.processedMessages[k] > MAX_AGE_MS) {\n        delete cache.processedMessages[k];\n      }\n    }\n    const remaining = Object.keys(cache.processedMessages);\n    if (remaining.length > MAX_ENTRIES) {\n      const sorted = remaining.sort((a, b) => cache.processedMessages[a] - cache.processedMessages[b]);\n      for (let i = 0; i < sorted.length - MAX_ENTRIES; i++) {\n        delete cache.processedMessages[sorted[i]];\n      }\n    }\n  }\n\n  // Duplicate check\n  if (cache.processedMessages[messageId]) {\n    return []; // Stop — already processed, prevents duplicate replies from Meta retries\n  }\n\n  // Mark as processed and continue\n  cache.processedMessages[messageId] = now;\n  return [{ json: $input.first().json }];\n} catch (err) {\n  // Fail-open: never block a real message because of an internal dedup error\n  console.log(JSON.stringify({ ts: new Date().toISOString(), dedupGuardError: String(err && err.message ? err.message : err) }));\n  return [{ json: $input.first().json }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8272,
        2432
      ],
      "id": "5f51b46e-5ba7-4962-8fb2-6dbc8631c6ed",
      "name": "Dedup Guard",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Production-safe Meta WhatsApp Cloud payload parser — never throws\ntry {\n  const body = $input.first().json.body;\n  const value = body?.entry?.[0]?.changes?.[0]?.value;\n\n  // Ignore status events, delivery receipts, read receipts etc.\n  if (!value?.messages?.length) {\n    return [];\n  }\n\n  const msg = value.messages[0];\n  const contact = value.contacts?.[0];\n\n  let messageText = \"\";\n  let mediaId = null;\n  let mediaCaption = null;\n  let location = null;\n  let contactsShared = null;\n\n  switch (msg.type) {\n    case \"text\":\n      messageText = msg.text?.body || \"\";\n      break;\n\n    case \"interactive\":\n      if (msg.interactive?.type === \"button_reply\") {\n        messageText = msg.interactive.button_reply?.title || \"[button reply]\";\n      } else if (msg.interactive?.type === \"list_reply\") {\n        messageText = msg.interactive.list_reply?.title || \"[list reply]\";\n      } else {\n        messageText =\n          msg.interactive?.button_reply?.title ||\n          msg.interactive?.list_reply?.title ||\n          \"[interactive]\";\n      }\n      break;\n\n    case \"button\":\n      messageText = msg.button?.text || \"[button]\";\n      break;\n\n    case \"image\":\n      mediaId = msg.image?.id || null;\n      mediaCaption = msg.image?.caption || \"\";\n      messageText = mediaCaption ? `[image] ${mediaCaption}` : \"[image]\";\n      break;\n\n    case \"document\":\n      mediaId = msg.document?.id || null;\n      mediaCaption = msg.document?.caption || msg.document?.filename || \"\";\n      messageText = mediaCaption ? `[document] ${mediaCaption}` : \"[document]\";\n      break;\n\n    case \"audio\":\n      mediaId = msg.audio?.id || null;\n      messageText = \"[audio message]\";\n      break;\n\n    case \"voice\":\n      mediaId = msg.voice?.id || null;\n      messageText = \"[voice message]\";\n      break;\n\n    case \"video\":\n      mediaId = msg.video?.id || null;\n      mediaCaption = msg.video?.caption || \"\";\n      messageText = mediaCaption ? `[video] ${mediaCaption}` : \"[video]\";\n      break;\n\n    case \"sticker\":\n      mediaId = msg.sticker?.id || null;\n      messageText = \"[sticker]\";\n      break;\n\n    case \"location\":\n      location = {\n        latitude: msg.location?.latitude ?? null,\n        longitude: msg.location?.longitude ?? null,\n        name: msg.location?.name || \"\",\n        address: msg.location?.address || \"\"\n      };\n      messageText = `[location] ${location.name || \"\"} ${location.address || \"\"}`.trim() || \"[location shared]\";\n      break;\n\n    case \"contacts\":\n      contactsShared = msg.contacts || [];\n      messageText = \"[contact shared]\";\n      break;\n\n    default:\n      messageText = `[unsupported message type: ${msg.type || \"unknown\"}]`;\n  }\n\n  return [\n    {\n      json: {\n        phone: msg.from,\n        profileName: contact?.profile?.name || \"\",\n        message: messageText,\n        messageId: msg.id,\n        messageType: msg.type || \"unknown\",\n        mediaId,\n        mediaCaption,\n        location,\n        contactsShared,\n        timestamp: msg.timestamp,\n        phoneNumberId: value.metadata?.phone_number_id,\n        wa_id: contact?.wa_id || msg.from\n      }\n    }\n  ];\n} catch (err) {\n  // Never throw — always return a safe, loggable fallback item\n  console.log(JSON.stringify({ ts: new Date().toISOString(), extractDataError: String(err && err.message ? err.message : err) }));\n  return [\n    {\n      json: {\n        phone: null,\n        profileName: \"\",\n        message: \"[unparsed message]\",\n        messageId: null,\n        messageType: \"unknown\",\n        mediaId: null,\n        mediaCaption: null,\n        location: null,\n        contactsShared: null,\n        timestamp: null,\n        phoneNumberId: null,\n        wa_id: null,\n        error: String(err && err.message ? err.message : err)\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8496,
        2432
      ],
      "id": "1f7a7e29-1406-4d55-9307-fb90f9863a38",
      "name": "Extract Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        8720,
        2432
      ],
      "id": "e9cf21cf-5f18-41f6-8a08-293a9a74e165",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message: {{ $('Extract Data').item.json.message }}\\n\\nThis is the Person's Phone Number: {{ $('Extract Data').item.json.phone }}\\nProfile Name: {{ $('Extract Data').item.json.profileName }}",
        "options": {
          "systemMessage": "=You are **Mahakal Property AI**, the official property consultant assistant of **Mahakal Property** — a real estate agency covering **all of Indore**, dealing in **Buy, Sell, and Rent** across every property type (residential and commercial). You talk to leads on WhatsApp who reached out through ads, referrals, or our listings.\\n\\nYou are not a support bot. You are a sharp, warm, consultative property consultant. Your job: understand what the customer actually needs, match it to the right kind of property/area/budget, build trust, and get them to a booked site visit or a consultation call with Mahakal Property's team.\\n\\nCURRENT DATE & TIME:\\n{{ $json.currentDate }}\\n\\n═══════════════════════════════════\\nCRITICAL OUTPUT RULE — NEVER LEAK INTERNALS\\n═══════════════════════════════════\\nYour output is sent DIRECTLY to WhatsApp as a message. The customer sees EXACTLY what you output.\\n- NEVER output your reasoning, analysis, thought process, tool names, JSON, or internal steps.\\n- NEVER mention tool names like check_calendar, book_calendar, Lead Capture, Update_Lead, Sync_Appointment_CRM, Get_Lead, Cancel_Appointment, Reminder_Tool in your reply.\\n- NEVER write phrases like \\\"Now I need to...\\\", \\\"Let me call...\\\", \\\"The tool returned...\\\", \\\"I should...\\\", \\\"Based on the system rules...\\\".\\n- Your output must ONLY contain the final customer-facing message — nothing else.\\n- Maximum 2–4 short sentences per reply. Never a paragraph wall.\\n\\n═══════════════════════════════════\\nLANGUAGE RULE — HINDI/HINGLISH FIRST, THEN MIRROR (STRICT)\\n═══════════════════════════════════\\nDEFAULT LANGUAGE IS HINGLISH. Your very first message, and any message where the customer's language is ambiguous (e.g. only a name, a number, an emoji), must be in natural, warm Hinglish (Roman Hindi mixed with everyday English words) — the way a real Indore property dealer would text.\\n\\nDecide the language ONLY from the customer's own LATEST message. NEVER guess from their name, phone number, or area they're asking about.\\n\\nSwitching rules:\\n- Customer writes in Hindi/Hinglish → reply in natural Hinglish: \\\"Haan ji, bilkul batayiye — kaunsa area dekh rahe hain?\\\"\\n- Customer writes in pure English → reply in clean, confident English, zero Hindi words mixed in.\\n- Customer writes in Marathi → reply in Marathi.\\n- Customer writes in Tamil → reply in Tamil.\\n- Customer writes in Gujarati → reply in Gujarati.\\n- Customer writes in any other language (Punjabi, Bengali, Kannada, Telugu, etc.) → reply in that same language.\\n- If the customer switches language mid-conversation, you switch with them from your very next message — no lag, no asking \\\"which language should I use\\\".\\n- Greetings like \\\"Hi\\\"/\\\"Hello\\\" (English) → respond in English. \\\"Namaste\\\"/\\\"Kaise ho\\\" (Hindi) → respond in Hinglish. If genuinely unclear, default to Hinglish.\\n\\nEvery Hinglish example line in this prompt is a TEMPLATE for what to say — when the customer is using a different language, say the same idea in THAT language. The examples show the content, the Language Rule always decides the language.\\n\\nMirror their energy: formal customer = respectful and polished; casual customer = friendly and relaxed. Use their name once you know it.\\n\\nTexting style rules:\\n- 1–3 short sentences per message. Never a paragraph wall.\\n- One question at a time. Never stack questions.\\n- Sound like an experienced property dealer texting from his phone, not a corporate email.\\n- Small human touches are fine: \\\"Achha samajh gaya\\\", \\\"Theek hai\\\", \\\"Badhiya!\\\" — never overdo it.\\n- Max one emoji per message, and not in every message.\\n\\n═══════════════════════════════════\\nIDENTITY\\n═══════════════════════════════════\\n- Never volunteer that you are an AI.\\n- If asked directly (\\\"bot ho kya?\\\", \\\"are you AI?\\\", \\\"you a real person?\\\"): answer honestly, in their language. Example (Hinglish): \\\"Haan ji, main Mahakal Property ka AI Assistant hoon — humari consultant team ki taraf se turant reply aur booking manage karta hoon. Aapki property requirement bataiye, main abhi help karta hoon.\\\"\\n- Stay warm and useful after revealing this — don't over-explain, just keep helping.\\n\\n═══════════════════════════════════\\nGREETING RULE\\n═══════════════════════════════════\\nTreat a message as a fresh start ONLY if the customer's ENTIRE message is a plain greeting/acknowledgment with nothing else: \\\"Hi\\\", \\\"Hello\\\", \\\"Hey\\\", \\\"Namaste\\\", \\\"Good morning\\\", \\\"Ok\\\", \\\"Thanks\\\", \\\"Ji\\\".\\n\\nIf a greeting comes WITH anything else (a requirement, an area name, a date/time, an answer to your last question) — it is NOT a fresh start. Continue the existing flow, ignore the greeting rule for that message.\\n\\nNever re-greet or ask \\\"how can I help\\\" mid-conversation.\\n\\nFresh-start examples (match the language of THEIR greeting):\\n- \\\"Hi\\\"/\\\"Hello\\\"/\\\"Hey\\\" (English) → English: \\\"Hi! Welcome to Mahakal Property. I'm your property consultant — are you looking to buy, sell, or rent?\\\"\\n- \\\"Namaste\\\"/\\\"Kaise ho\\\" (Hindi) → Hinglish: \\\"Namaste ji! Mahakal Property mein aapka swagat hai. Batayiye — property khareedni hai, bechni hai, ya rent par leni hai?\\\"\\n- Marathi greeting → Marathi equivalent of the same question.\\n- Gujarati greeting → Gujarati equivalent of the same question.\\nDefault to Hinglish whenever the greeting is ambiguous.\\n\\n═══════════════════════════════════\\nABOUT MAHAKAL PROPERTY (never invent beyond this)\\n═══════════════════════════════════\\nMahakal Property is a full-service real estate agency covering the **entire Indore city and surrounding areas** — not limited to one zone.\\n\\nDEALS IN:\\n- **Buy** — helping buyers find and finalize a property.\\n- **Sell** — helping property owners list and sell.\\n- **Rent / Lease** — both residential and commercial.\\n\\nPROPERTY TYPES (all of them, never say \\\"we only do X\\\"):\\n- Residential: 1/2/3/4 BHK flats & apartments, independent houses, bungalows, villas, builder floors.\\n- Plots & Land: residential plots, agricultural land, farmhouse land.\\n- Commercial: shops, showrooms, office space, co-working spaces, warehouses/godowns.\\n- Rental-specific: PG-style rentals, family rentals, bachelor-friendly flats.\\n\\nMahakal Property helps with the full journey — shortlisting properties, price negotiation, paperwork guidance, and site visits. We do NOT provide legal or loan advice directly — that gets escalated to the team.\\n\\nPRICING RULE: Never quote exact property prices or rates per sq. ft. — every listing is different. If pushed, give the general budget-tier range from the Indore Area Knowledge below, then say: \\\"Exact price aur negotiation site visit ya call par hi clear hoga — wahan sahi options dikha denge.\\\" You MAY ask their budget range early to filter matches faster.\\n\\n═══════════════════════════════════\\nINDORE AREA KNOWLEDGE\\n═══════════════════════════════════\\nUse this when a customer asks about good areas in Indore (residential or commercial), or to suggest areas that fit their stated budget. Always ask budget and Buy/Sell/Rent first if not shared, before recommending.\\n\\n**RESIDENTIAL — POPULAR AREAS**\\n- Vijay Nagar, Scheme 54, Scheme 78 — prime, well-developed, malls & schools nearby, strong demand, good resale value.\\n- Old Palasia, New Palasia, Sapna Sangeeta — central, premium, walk-to-everything convenience.\\n- Bengali Square, Nipania, AB Road corridor — fast-growing IT/business belt, popular with young professionals and families.\\n- Super Corridor (Rau–Indore Bypass side) — newest premium development, wide roads, gated townships, plots and luxury apartments.\\n- Scheme 140, Scheme 114, Kalani Nagar — mid-to-premium apartments, family-friendly.\\n- Khajrana, Annapurna Road, Bhawarkuan — solid mid-range residential, good connectivity.\\n- Rajendra Nagar, Sudama Nagar, LIG Colony — budget-friendly, established colonies.\\n- Bicholi Mardana, Kanadia Road, Rau — developing, more affordable plots and new low-rise projects.\\n\\n**RESIDENTIAL — BUDGET-WISE (very approximate, always confirm on call)**\\n- Under 25L: Rajendra Nagar, Sudama Nagar, Bicholi Mardana, Kanadia Road\\n- 25L–50L: Scheme 78, Bengali Square, Nipania, Khajrana\\n- 50L–90L: Vijay Nagar, Scheme 54, Scheme 140, Super Corridor (entry projects)\\n- 90L+: Old/New Palasia premium, Vijay Nagar high-rises, Super Corridor luxury villas & bungalows\\n\\n**COMMERCIAL — TOP AREAS**\\n- Vijay Nagar — the biggest commercial hub, highest footfall, best for retail/showroom.\\n- MG Road, Palasia — central business district, offices and premium retail.\\n- AB Road — showrooms, warehouses, mixed commercial and industrial.\\n- Rajwada, Sarafa — old city retail and wholesale trade.\\n- Super Corridor — new-age office spaces and IT/business parks.\\n\\nNever fabricate details about a specific plot/property/project beyond general area knowledge. If asked something you don't know for certain (exact rate, exact possession date, RERA number, legal title status), say you'll confirm and escalate rather than guessing.\\n\\n═══════════════════════════════════\\nLEAD FLOW — DISCOVER → MATCH → BUILD TRUST → CLOSE\\n═══════════════════════════════════\\nMove through these naturally, ONE question at a time. React like a human (\\\"Achha, Vijay Nagar side? Bahut demand hai wahan\\\"), then ask the next thing.\\n\\n1. INTENT — Buy, Sell, or Rent?\\n2. PROPERTY TYPE — Flat, house, plot, commercial, etc. If they're selling, ask what property they own instead.\\n3. LOCATION — Which area of Indore, or open to suggestions?\\n4. BUDGET — \\\"Approx kitna budget plan kar rahe hain?\\\" (never lead with this — ask after intent + type are clear)\\n5. TIMELINE — \\\"Kab tak finalize karna chahte hain — jaldi ya just exploring?\\\"\\n6. MATCH — Based on what's known, mention 1–2 relevant areas/options from the Indore Area Knowledge above that fit, in 2–3 lines. Be specific to THEIR budget and area, not generic.\\n   Example: \\\"Aapke budget mein Bengali Square aur Scheme 78 side accha 2BHK options milenge — dono jagah IT professionals ke liye popular hain.\\\"\\n7. CLOSE — Ask for a site visit or call confidently: \\\"Best next step — main aapke liye ek site visit ya Mahakal Property team ke saath call schedule kar doon. Kal ka time chalega?\\\"\\n\\nNAME & PHONE: Collect the name naturally during the flow. You already have their WhatsApp number — confirm it only if a different contact number should be used for the visit.\\n\\nOBJECTION HANDLING (short, confident, never pushy):\\n- \\\"Costly hai\\\" → \\\"Samajh sakta hoon. Budget mein options adjust ho sakte hain — area ya property type thoda flexible rakhein toh better match mil jayega.\\\"\\n- \\\"Sochke batata hoon\\\" → \\\"Bilkul, koi jaldi nahi. Ek site visit fix kar lete hain bina kisi commitment ke — pasand na aaye toh mana kar dena.\\\"\\n- \\\"Trust kaise karein\\\" → \\\"Fair sawaal hai. Mahakal Property Indore mein established hai — site visit par aap khud property dekh sakte hain aur team se seedha baat kar sakte hain.\\\"\\nIf they say a clear NO twice → respect it, stay warm, leave the door open: \\\"Koi baat nahi! Jab bhi property ki zaroorat ho, message kar dena. All the best!\\\"\\n\\n═══════════════════════════════════\\nLEAD CAPTURE\\n═══════════════════════════════════\\nTrigger `Lead Capture` ONCE per conversation — the first time you have: **name + phone + basic requirement** (Buy/Sell/Rent + property type, at minimum). Don't wait to collect everything.\\n\\nFields for `Lead Capture` / `Update_Lead` (never omit a field — use sensible defaults where unknown):\\n- **Name** — customer's name\\n- **Phone_Number** — customer's WhatsApp number\\n- **Requirements** — ONE line combining: Buy/Sell/Rent + Property Type + Preferred Location + Budget + Timeline (whatever is known so far). Example: \\\"Rent, 2BHK, Bengali Square/Nipania area, Budget: 12-15k/month, moving in 1 month\\\"\\n- **Interested** — \\\"Yes\\\" / \\\"No\\\"\\n- **Booking_Time** — \\\"Not Booked\\\" (default until a visit is confirmed)\\n- **Event_ID** — \\\"NA\\\" (default until a visit is confirmed)\\n\\nAny update later (new details, booking, cancellation, interest change) → `Update_Lead` ONLY. Never call `Lead Capture` twice for the same person in one conversation.\\n\\n═══════════════════════════════════\\nSITE VISIT / CONSULTATION BOOKING\\n═══════════════════════════════════\\nTrigger ONLY on explicit intent: \\\"Visit karni hai\\\", \\\"Property dikhado\\\", \\\"Site dekhna hai\\\", \\\"Call schedule karo\\\", \\\"haan book karo\\\", \\\"kal 4 baje\\\".\\n\\nSite visit hours: **10:00 AM – 7:00 PM, Asia/Kolkata**. Never assume a slot is free — always verify.\\n\\nStep 1 — Ask: \\\"Kaunsi date aur approx kaunsa time convenient rahega aapke liye?\\\"\\n- Only date given → ask time. Only time given → ask date. Resolve relative dates (\\\"kal\\\", \\\"parso\\\", \\\"Sunday\\\") using CURRENT DATE & TIME above.\\n\\nStep 2 — Once BOTH date and time are confirmed:\\n1. **check_calendar** — verify the requested slot is free within business hours.\\n2. **If available**, execute in this exact order:\\n   a. `Lead Capture` (if not already done in this conversation)\\n   b. `book_calendar` — 1-hour event, title: \\\"Property Site Visit - [Customer Name]\\\". Description MUST include: Name, Phone, Requirement (Buy/Sell/Rent + type), Preferred Location, Budget, Timeline.\\n   c. `Sync_Appointment_CRM` — action: \\\"book\\\", phone: customer's number, name: customer's name, startTime: the confirmed slot in ISO 8601 with +05:30 timezone (e.g. \\\"2026-07-10T16:00:00+05:30\\\"), googleEventId: the ID returned by `book_calendar`, notes: same one-line summary as Requirements.\\n   d. `Update_Lead` — Booking_Time: confirmed date/time, Event_ID: from `book_calendar`, Interested: \\\"Yes\\\".\\n   e. ONLY after `book_calendar` succeeds, confirm to customer: \\\"Perfect ji! Aapki visit [date] ko [time] par confirm ho gayi hai. Mahakal Property team se isi number par contact hoga.\\\"\\n3. **If NOT available:**\\n   - Never say \\\"Main check karke batata hoon.\\\"\\n   - Instead: \\\"Us time slot mein availability nahi hai. Kya aap [alternate time 1], [alternate time 2] ya [alternate time 3] mein se koi try karenge?\\\"\\n   - Wait for their choice, then repeat from Step 2.\\n\\n═══════════════════════════════════\\nBOOKING TOOL FAILURE HANDLING (CRITICAL)\\n═══════════════════════════════════\\nThe PRIMARY booking action is `book_calendar`. If `book_calendar` SUCCEEDS:\\n- The visit IS booked on Google Calendar. This is the real booking.\\n- If `Sync_Appointment_CRM` or `Update_Lead` fail AFTER `book_calendar` succeeded — STILL CONFIRM the booking to the customer. The calendar event is created, the visit is real.\\n- Say: \\\"Perfect ji! Aapki visit [date] ko [time] par confirm ho gayi hai. Mahakal Property team se isi number par contact hoga.\\\"\\n- Do NOT say \\\"booking system slow\\\" if the calendar event was created.\\n- Do NOT retry failed CRM tools — just move on and confirm.\\n\\nOnly if `book_calendar` itself fails (calendar event NOT created):\\n- Say: \\\"Abhi booking system mein thodi delay aa rahi hai. Main aapki request team ko forward kar raha hoon — wo jaldi confirm kar denge.\\\"\\n- Then: `Lead Capture` (if pending) → try `Update_Lead` once (Interested: \\\"Yes\\\", Requirements note appended: \\\"Follow Up Required - booking failed\\\").\\n- If `Update_Lead` also fails, just send the message above and stop.\\n\\nNEVER leave them hanging. NEVER say you'll \\\"check and reply later.\\\" Always give a next step.\\n\\n═══════════════════════════════════\\nAPPOINTMENT CHECK\\n═══════════════════════════════════\\nOnly when asked (\\\"meri visit kab hai?\\\", \\\"booking confirm hai?\\\"):\\n`Get_Lead` → if Event_ID exists → `check_calendar` → reply with the confirmed date, time, and next step.\\nIf no Event_ID found: \\\"Ji, aapki koi visit currently booked nahi dikh rahi. Naya slot book karna chahenge?\\\"\\n\\n═══════════════════════════════════\\nCANCELLATION\\n═══════════════════════════════════\\nOnly when explicitly requested:\\n1. `Get_Lead` → fetch Event_ID\\n2. `Cancel_Appointment`\\n3. `Sync_Appointment_CRM` — action: \\\"cancel\\\", phone: customer's number, googleEventId: the Event_ID\\n4. `Update_Lead` — Booking_Time: \\\"Not Booked\\\", Event_ID: \\\"NA\\\"\\n5. Confirm warmly and try to rebook once: \\\"Cancel ho gaya. Koi aur din try karein? Jo bhi time suit kare, bata dena.\\\"\\n\\n═══════════════════════════════════\\nESCALATION\\n═══════════════════════════════════\\nEscalate when the customer: asks for legal or loan advice, wants final price negotiation beyond general ranges, is repeatedly unhappy, or explicitly asks for a human.\\nSay: \\\"Samajh gaya — is par Mahakal Property team aapse personally baat karegi. Naam aur number confirm kar dijiye?\\\" Then `Lead Capture` (if pending, Interested: \\\"Yes\\\") and stop selling.\\n\\n═══════════════════════════════════\\nTOOL ORDER SUMMARY\\n═══════════════════════════════════\\nQualify → `Lead Capture` (once) → `check_calendar` → `book_calendar` → `Sync_Appointment_CRM` (book) → `Update_Lead`\\nCheck: `Get_Lead` → `check_calendar` → reply\\nCancel: `Get_Lead` → `Cancel_Appointment` → `Sync_Appointment_CRM` (cancel) → `Update_Lead`\\n`check_calendar` is used BOTH to verify availability before booking AND to confirm an existing booking — never skip it before `book_calendar`.\\nDo NOT use `Reminder_Tool`.\\n\\n═══════════════════════════════════\\nANTI-DUPLICATE RULES (critical)\\n═══════════════════════════════════\\n- Exactly ONE reply per customer message. Never two messages back to back.\\n- Never call the same tool twice for the same purpose in one turn.\\n- Once a tool succeeds, trust it and move on — no re-checking.\\n- Minimum tool calls per message. Extra calls = slow replies = bad experience.\\n- If unsure whether you already replied — don't repeat, move forward.\\n\\n═══════════════════════════════════\\nGOLDEN RULES\\n═══════════════════════════════════\\n- Once `book_calendar` succeeds, the booking IS confirmed — always tell the customer.\\n- Never invent pricing, project details, legal status, or timelines.\\n- Every message: short, human, one question, forward momentum.\\n- The goal of every conversation: a booked site visit or consultation call with a fully qualified lead — name, intent, property type, location, budget, timeline — all captured before the visit.\\n- NEVER output internal reasoning, tool names, or thought process. ONLY the customer-facing message.\\n\\nABSOLUTE OUTPUT RULE — NO REPETITION:\\nNever repeat the same sentence or question twice in one reply. Say each thing exactly once. If a tool call fails, do NOT re-state your previous sentence — either retry the tool silently or ask once for the missing detail. One reply = each idea stated a single time, maximum 2–4 short sentences.",
          "maxIterations": 12
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        8944,
        2432
      ],
      "id": "0d55dd84-30fa-4d9b-b912-3009af5417c2",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        8768,
        2672
      ],
      "id": "33cd6629-5c46-4188-9374-728504b06843",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8xzFO0yqbMyCRUJs",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Requirements": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requirements', ``, 'string') }}",
            "Interested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested', ``, 'string') }}",
            "Booking Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_Time', ``, 'string') }}",
            "Event ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        9056,
        2672
      ],
      "id": "b0ed782c-440d-4e54-b86e-f73b140366df",
      "name": "Lead Capture",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Requirements": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requirements', ``, 'string') }}",
            "Interested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested', ``, 'string') }}",
            "Booking Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_Time', ``, 'string') }}",
            "Event ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        9184,
        2672
      ],
      "id": "acd91dd4-fec8-496a-a48f-059a65f77b19",
      "name": "Update_Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        9328,
        2672
      ],
      "id": "509ef41b-7c5c-4c05-8776-7038ed094d6c",
      "name": "Get_Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Start of time range in ISO 8601 with +05:30 timezone e.g. 2026-07-15T10:00:00+05:30`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `End of time range in ISO 8601 with +05:30 timezone e.g. 2026-07-15T19:00:00+05:30`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        9472,
        2672
      ],
      "id": "e397d33b-3084-49a5-b49b-6d8ad627d158",
      "name": "check_calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Start date-time in ISO 8601 with +05:30 timezone e.g. 2026-07-15T12:00:00+05:30`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `End date-time in ISO 8601 with +05:30 timezone, 1 hour after Start e.g. 2026-07-15T13:00:00+05:30`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Customer details: Name, Phone, Requirement (Buy/Sell/Rent), Location preference, Budget`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Event title e.g. Property Site Visit - Customer Name`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        9616,
        2672
      ],
      "id": "95f23dbd-f12c-427c-adfd-31e6bea86f4f",
      "name": "book_calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Google Calendar event ID to cancel, obtained from Get_Lead`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        9744,
        2672
      ],
      "id": "a9dc1341-2643-4f53-bd92-45d6042d48ca",
      "name": "Cancel_Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool upon booking is done and send all the information like when is the appointment booked for, Name of the Person who has booked the appointment and all the other details, this tool sets up the Reminder Flow for the particular person\n",
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.REMINDER_WORKFLOW_ID }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Time Booked At": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time_Booked_At', ``, 'string') }}",
            "Reason": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reason', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Time Booked At",
              "displayName": "Time Booked At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        9888,
        2672
      ],
      "id": "125c05c6-5262-4861-8766-2fdb366d7e51",
      "name": "Reminder_Tool"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Extract Data').item.json.messageId }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8944,
        2256
      ],
      "id": "1de6efe6-1909-42a8-b989-13ea0c9fd40d",
      "name": "Mark as Read",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($('Prepare Reply').item.json.replyText) }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9616,
        2432
      ],
      "id": "0180183c-ab22-4a56-925f-def0090789a6",
      "name": "Send WhatsApp Reply",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Structured, production-safe execution log — never throws, never blocks the workflow\ntry {\n  let extract = {};\n  try { extract = $('Extract Data').item.json || {}; } catch (e) { extract = {}; }\n\n  let aiReply = null;\n  try { aiReply = $('Prepare Reply').item.json.replyText; } catch (e) { aiReply = null; }\n\n  let sendRes = {};\n  try { sendRes = $input.first().json || {}; } catch (e) { sendRes = {}; }\n\n  const log = {\n    ts: new Date().toISOString(),\n    customer: { phone: extract.phone || null, name: extract.profileName || '', msgType: extract.messageType || 'unknown' },\n    inbound: extract.message || null,\n    aiReply: aiReply,\n    sent: !!(sendRes && sendRes.messages),\n    metaMsgId: sendRes?.messages?.[0]?.id || null,\n    error: sendRes?.error || null\n  };\n\n  console.log(JSON.stringify(log));\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), loggerError: String(err && err.message ? err.message : err) }));\n}\n\nreturn [{ json: { status: 'EVENT_LOGGED' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9840,
        2432
      ],
      "id": "bc992d1b-27eb-453f-be14-3b4d19959df2",
      "name": "Execution Logger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data').item.json.phone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        8960,
        2640
      ],
      "id": "89f46148-dcfe-4efd-8d7d-4f720d14821c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-messages-array",
              "leftValue": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8048,
        2432
      ],
      "id": "bd42d45e-3726-4cb0-b145-95d227ded367",
      "name": "Filter Messages Only",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Status/receipt event (sent, delivered, read, etc.) — safely ignored, never throws\ntry {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), event: 'non_message_event_ignored' }));\n} catch (err) {\n  // never throw\n}\nreturn [{ json: { status: 'IGNORED_NON_MESSAGE_EVENT' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8272,
        2688
      ],
      "id": "9e615fc1-58b5-4502-be1f-474865fcba9a",
      "name": "Ignore Non-Message Event",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook POST').item.json.body) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8272,
        2864
      ],
      "id": "3729d19f-3992-46ff-8975-af4aa3223d43",
      "name": "Sync Status to CRM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7824,
        2432
      ],
      "id": "b718bd26-0c7a-4e2b-b3e4-fd920a466107",
      "name": "Ack Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Production-safe AI output sanitizer — strips leaked chain-of-thought reasoning,\n// deduplicates repeated lines/sentences, and ensures only clean customer-facing\n// text is sent to WhatsApp. Never throws.\nconst FALLBACK = \"Ek second ji, system mein thodi delay aa rahi hai. Aapka message mil gaya hai — team jaldi respond karegi.\";\ntry {\n  const aiItem = $input.first().json;\n  let replyText = aiItem?.output;\n\n  if (typeof replyText !== \"string\" || !replyText.trim()) {\n    replyText = FALLBACK;\n  }\n\n  // ── STEP 0: Detect and strip leaked internal reasoning ──\n  const leakPatterns = [\n    /the user conversation above shows/i,\n    /now we must respond/i,\n    /tool calls have already been made/i,\n    /must follow the system rules/i,\n    /mirror tone/i,\n    /one question at a time/i,\n    /chain.of.thought/i,\n    /now respond:/i,\n    /send final/i,\n    /lead captured\\./i,\n    /booking attempted;/i,\n    /sync_appointment_crm/i,\n    /update_lead/i,\n    /lead_capture/i,\n    /get_lead/i,\n    /check_calendar/i,\n    /book_calendar/i,\n    /cancel_appointment/i,\n    /\\$fromAI/i,\n    /tool.?name/i,\n    /internal steps/i,\n    /need to call/i,\n    /retry the tool/i,\n    /the agent should/i,\n    /we can offer two/i,\n    /compose.*hinglish/i,\n    /that's \\d+ sentence/i,\n    /provide meeting point/i,\n    /must not invent/i,\n    /rule.*reply in/i,\n    /good\\. send final/i,\n    /also earlier we said/i,\n    /now we send next reply/i,\n    /and must ensure/i\n  ];\n\n  const hasLeak = leakPatterns.some(p => p.test(replyText));\n\n  if (hasLeak) {\n    // Try to extract the first clean customer-facing sentence before the leak\n    const sentences = replyText.split(/(?<=[.!?।])\\s+/);\n    const cleanSentences = [];\n    for (const s of sentences) {\n      const isLeaked = leakPatterns.some(p => p.test(s));\n      if (isLeaked) break;\n      if (s.trim().length > 5) cleanSentences.push(s.trim());\n    }\n    if (cleanSentences.length > 0) {\n      replyText = cleanSentences.join(' ');\n    } else {\n      replyText = FALLBACK;\n    }\n  }\n\n  // ── STEP 1: Normalize helper ──\n  const normalize = (s) => s.toLowerCase().replace(/[^a-z0-9\\u0900-\\u097F]+/gi, \" \").trim();\n\n  // ── STEP 2: Dedupe by line ──\n  const seen = new Set();\n  const lines = replyText.split(\"\\n\");\n  const keptLines = [];\n  for (const line of lines) {\n    const key = normalize(line);\n    if (!key) { keptLines.push(line); continue; }\n    if (seen.has(key)) continue;\n    seen.add(key);\n    keptLines.push(line);\n  }\n  replyText = keptLines.join(\"\\n\");\n\n  // ── STEP 3: Dedupe by sentence ──\n  const sentSeen = new Set();\n  const parts = replyText.split(/(?<=[.!?\\u0964])\\s+/);\n  if (parts.length > 1) {\n    const keptSents = [];\n    for (const p of parts) {\n      const key = normalize(p);\n      if (key && key.split(\" \").length >= 4) {\n        if (sentSeen.has(key)) continue;\n        sentSeen.add(key);\n      }\n      keptSents.push(p);\n    }\n    replyText = keptSents.join(\" \").replace(/[ \\t]+\\n/g, \"\\n\").trim();\n  }\n\n  // ── STEP 4: Collapse excessive blank lines ──\n  replyText = replyText.replace(/\\n{3,}/g, \"\\n\\n\").trim();\n\n  // ── STEP 5: Final length sanity check — real replies are under 500 chars ──\n  if (replyText.length > 800) {\n    const firstChunk = replyText.substring(0, 500);\n    const lastSentEnd = Math.max(firstChunk.lastIndexOf('.'), firstChunk.lastIndexOf('!'), firstChunk.lastIndexOf('?'), firstChunk.lastIndexOf('।'));\n    if (lastSentEnd > 50) {\n      replyText = firstChunk.substring(0, lastSentEnd + 1).trim();\n    } else {\n      replyText = FALLBACK;\n    }\n  }\n\n  if (!replyText) {\n    replyText = FALLBACK;\n  }\n\n  return [{ json: { replyText } }];\n} catch (err) {\n  return [{ json: { replyText: FALLBACK } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9248,
        2288
      ],
      "id": "3068e6e6-34f0-4c75-b958-13678066ee7c",
      "name": "Prepare Reply",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FINAL duplicate-send protection — runs immediately before the WhatsApp API call.\n// Even if a duplicate webhook delivery slipped past Dedup Guard earlier in the flow\n// (e.g. it arrived while this exact message was still being handled by the AI Agent),\n// this guarantees at most ONE outbound WhatsApp message per unique inbound message ID.\n// Kept intentionally lean (capped size + time-based expiry below) so the lookup stays\n// fast on every execution, forever — a bloated cache slows every future run down and\n// widens the collision window for the next message.\n// Fail-open: never blocks a real reply because of an internal error.\ntry {\n  const messageId = $('Extract Data').first().json.messageId;\n\n  if (!messageId) {\n    // No message ID to key off — allow the send rather than risk silently dropping a real reply\n    return [{ json: $input.first().json }];\n  }\n\n  const cache = $getWorkflowStaticData('global');\n  if (!cache.sentReplies) {\n    cache.sentReplies = {};\n  }\n\n  const now = Date.now();\n  const MAX_AGE_MS = 6 * 60 * 60 * 1000; // 6 hours is plenty — real duplicates arrive within seconds/minutes\n  const MAX_ENTRIES = 300;\n\n  // Housekeeping: only runs once the cache actually grows, first by age then by size.\n  const keys = Object.keys(cache.sentReplies);\n  if (keys.length > MAX_ENTRIES) {\n    for (const k of keys) {\n      if (now - cache.sentReplies[k] > MAX_AGE_MS) {\n        delete cache.sentReplies[k];\n      }\n    }\n    const remaining = Object.keys(cache.sentReplies);\n    if (remaining.length > MAX_ENTRIES) {\n      const sorted = remaining.sort((a, b) => cache.sentReplies[a] - cache.sentReplies[b]);\n      for (let i = 0; i < sorted.length - MAX_ENTRIES; i++) {\n        delete cache.sentReplies[sorted[i]];\n      }\n    }\n  }\n\n  if (cache.sentReplies[messageId]) {\n    // A reply for this exact inbound message has already been sent — stop here\n    console.log(JSON.stringify({ ts: new Date().toISOString(), sendGuardBlocked: messageId }));\n    return [];\n  }\n\n  cache.sentReplies[messageId] = now;\n  return [{ json: $input.first().json }];\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), sendGuardError: String(err && err.message ? err.message : err) }));\n  return [{ json: $input.first().json }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9392,
        2432
      ],
      "id": "ecbec938-d220-447c-bb00-f48a16b9f0fd",
      "name": "Send Guard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"profileName\": \"{{ $('Extract Data').item.json.profileName }}\",\n  \"message\": {{ JSON.stringify($('Extract Data').item.json.message) }},\n  \"messageId\": \"{{ $('Extract Data').item.json.messageId }}\",\n  \"messageType\": \"{{ $('Extract Data').item.json.messageType }}\",\n  \"wa_id\": \"{{ $('Extract Data').item.json.wa_id }}\",\n  \"timestamp\": \"{{ $('Extract Data').item.json.timestamp }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8496,
        3056
      ],
      "id": "c5867911-624b-42b9-8bd0-126fcb79883f",
      "name": "Sync Inbound to CRM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/ai-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"replyText\": {{ JSON.stringify($('Prepare Reply').item.json.replyText) }},\n  \"messageId\": \"{{ $input.first().json.messages?.[0]?.id || 'ai_' + Date.now() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9840,
        3056
      ],
      "id": "2d6c5c1a-e492-404c-b0b7-2a1eb19c7305",
      "name": "Save AI Reply to CRM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-agent-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        10368,
        2096
      ],
      "id": "76f07b0f-3feb-479d-a80c-b90246cc52d3",
      "name": "CRM Reply Webhook",
      "webhookId": "crm-reply-0001-0001-0001-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Fetch contact phone number from Supabase for CRM agent reply\n// Env vars: SUPABASE_URL, SUPABASE_SERVICE_KEY, WORKSPACE_ID\ntry {\n  const body = $input.first().json.body || $input.first().json;\n  const { conversation_id, workspace_id, agent_id, message, timestamp } = body;\n\n  if (!conversation_id || !message) {\n    return [{ json: { error: 'Missing conversation_id or message', ok: false } }];\n  }\n\n  const SB_URL = $env.SUPABASE_URL;\n  const SB_KEY = $env.SUPABASE_SERVICE_KEY;\n\n  if (typeof fetch === 'undefined') {\n    console.log(JSON.stringify({ ts: new Date().toISOString(), node: 'CRM Prepare Send', skip: 'fetch unavailable' }));\n    return [{ json: { ok: false, error: 'fetch unavailable' } }];\n  }\n  if (!SB_URL || !SB_KEY) {\n    return [{ json: { error: 'Supabase env vars not configured', ok: false } }];\n  }\n\n// 5-second timeout wrapper — prevents hanging if Supabase is unreachable\n  function withTimeout(promise, ms) {\n    return Promise.race([\n      promise,\n      new Promise((_, reject) => setTimeout(() => reject(new Error('CRM fetch timeout')), ms))\n    ]);\n  }\n  async function sbFetch(url, opts) {\n    for (let attempt = 0; attempt < 2; attempt++) {\n      try { return await withTimeout(fetch(url, opts), 5000); } catch (e) {\n        if (attempt === 1) throw e;\n        await new Promise(r => setTimeout(r, 500));\n      }\n    }\n  }\n\n  const headers = {\n    'Content-Type': 'application/json',\n    apikey: SB_KEY,\n    Authorization: `Bearer ${SB_KEY}`\n  };\n\n  // Fetch conversation with contact phone (Supabase foreign-key join)\n  const convRes = await sbFetch(\n    `${SB_URL}/rest/v1/conversations?id=eq.${conversation_id}&select=id,contact_id,contacts(phone_number,name)`,\n    { headers }\n  );\n  const convs = await convRes.json();\n\n  if (!Array.isArray(convs) || !convs.length || !convs[0].contacts?.phone_number) {\n    return [{ json: { error: 'Conversation or contact not found', conversation_id, ok: false } }];\n  }\n\n  return [{ json: {\n    ok: true,\n    conversation_id,\n    workspace_id: workspace_id || $env.WORKSPACE_ID || '',\n    agent_id: agent_id || '',\n    message: (message || '').trim(),\n    timestamp: timestamp || new Date().toISOString(),\n    phone: convs[0].contacts.phone_number,\n    contactName: convs[0].contacts.name || convs[0].contacts.phone_number\n  }}];\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), crmPrepareErr: String(err?.message || err) }));\n  return [{ json: { error: String(err?.message || err), ok: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10608,
        2096
      ],
      "id": "37110ce2-da12-44b4-96ac-27cec8722ab9",
      "name": "CRM Prepare Send",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($json.message) }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10848,
        2096
      ],
      "id": "7d666ce1-da4f-492f-8571-e3b007ccf584",
      "name": "CRM Send WhatsApp",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/ai-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('CRM Prepare Send').item.json.to }}\",\n  \"replyText\": {{ JSON.stringify($('CRM Prepare Send').item.json.replyText) }},\n  \"messageId\": \"{{ $input.first().json.messages?.[0]?.id || 'crm_' + Date.now() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11088,
        2096
      ],
      "id": "f97365d4-c1d6-4980-b614-67d3eb9cb47a",
      "name": "CRM Sync Reply",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Sync a booked or cancelled consultation into the Nexora CRM so it appears on the Appointments page. Call with action \"book\" immediately after book_calendar succeeds, or action \"cancel\" immediately after Cancel_Appointment succeeds.",
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/appointment",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-webhook-secret",
              "valueProvider": "fieldValue",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"{action}\",\n  \"phone\": \"{phone}\",\n  \"name\": \"{name}\",\n  \"startTime\": \"{startTime}\",\n  \"googleEventId\": \"{googleEventId}\",\n  \"notes\": \"{notes}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "action",
              "description": "Either \"book\" (after book_calendar succeeds) or \"cancel\" (after Cancel_Appointment succeeds)",
              "type": "string"
            },
            {
              "name": "phone",
              "description": "Customer WhatsApp number, digits only with country code, e.g. 916265581678",
              "type": "string"
            },
            {
              "name": "name",
              "description": "Customer full name",
              "type": "string"
            },
            {
              "name": "startTime",
              "description": "Confirmed slot in ISO 8601 with IST timezone, e.g. 2026-07-10T16:00:00+05:30. Required for book, use empty string for cancel.",
              "type": "string"
            },
            {
              "name": "googleEventId",
              "description": "The Google Calendar event ID returned by book_calendar (or from Get_Lead when cancelling)",
              "type": "string"
            },
            {
              "name": "notes",
              "description": "One-line summary: business, requirement, budget, service interested. Empty string for cancel.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        9488,
        3040
      ],
      "id": "e2c164a9-6eb8-4167-a91f-68d237637831",
      "name": "Sync_Appointment_CRM",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Check if AI is paused for this contact's conversation in Supabase\ntry {\n  const phone = $('Extract Data').first().json.phone;\n  if (!phone) {\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const SB_URL = $env.SUPABASE_URL || 'https://poailedbsjhxjbniknqg.supabase.co';\n  const SB_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\n  if (!SB_KEY) {\n    console.log(JSON.stringify({ ts: new Date().toISOString(), checkAiPaused: 'no_key', phone }));\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const contactRes = await fetch(\n    `${SB_URL}/rest/v1/contacts?phone_number=eq.${encodeURIComponent(phone)}&select=id&limit=1`,\n    { headers: { 'apikey': SB_KEY, 'Authorization': `Bearer ${SB_KEY}` } }\n  );\n  const contacts = await contactRes.json();\n\n  if (!contacts || !contacts.length) {\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const contactId = contacts[0].id;\n\n  const convRes = await fetch(\n    `${SB_URL}/rest/v1/conversations?contact_id=eq.${contactId}&select=id,ai_paused&limit=1`,\n    { headers: { 'apikey': SB_KEY, 'Authorization': `Bearer ${SB_KEY}` } }\n  );\n  const convs = await convRes.json();\n\n  if (!convs || !convs.length) {\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const aiPaused = convs[0].ai_paused === true;\n  console.log(JSON.stringify({ ts: new Date().toISOString(), checkAiPaused: aiPaused, phone, contactId, convId: convs[0].id }));\n\n  return [{ json: { ...($input.first().json), aiPaused } }];\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), checkAiPausedError: String(err && err.message ? err.message : err) }));\n  return [{ json: { ...($input.first().json), aiPaused: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8464,
        2000
      ],
      "id": "e5705f92-93ba-47d3-939b-dd744a582656",
      "name": "Check AI Paused",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ai-not-paused",
              "leftValue": "={{ $json.aiPaused }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8512,
        2272
      ],
      "id": "37999c66-4125-435f-8272-1719e1412000",
      "name": "AI Paused?"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Ack Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Guard": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Sync Inbound to CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check AI Paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Capture": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "book_calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel_Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reminder_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save AI Reply to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Filter Messages Only": {
      "main": [
        [
          {
            "node": "Dedup Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Non-Message Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Status to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Webhook": {
      "main": [
        [
          {
            "node": "Filter Messages Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Send Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Guard": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Reply Webhook": {
      "main": [
        [
          {
            "node": "CRM Prepare Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Prepare Send": {
      "main": [
        [
          {
            "node": "CRM Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Send WhatsApp": {
      "main": [
        [
          {
            "node": "CRM Sync Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync_Appointment_CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Paused": {
      "main": [
        [
          {
            "node": "AI Paused?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Paused?": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "94a1f1c9-74d9-416e-98ef-452984d53f10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ca03925808e9c969f3c8e95dc50317e3bd5556ce532ef2228e477dbc0f2a571"
  },
  "nodeGroups": [],
  "id": "GpCf2241sRp6zGqb",
  "tags": [
    {
      "updatedAt": "2026-07-06T21:27:58.808Z",
      "createdAt": "2026-07-06T21:27:58.808Z",
      "id": "wvDaOh4P8mtbyMlv",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2026-07-06T21:27:58.829Z",
      "createdAt": "2026-07-06T21:27:58.829Z",
      "id": "dVNb3yJXG57I0mTn",
      "name": "Production"
    },
    {
      "updatedAt": "2026-07-06T21:27:58.844Z",
      "createdAt": "2026-07-06T21:27:58.844Z",
      "id": "bnDUInhpZt5zkWxn",
      "name": "CRM"
    },
    {
      "updatedAt": "2026-07-06T21:27:58.849Z",
      "createdAt": "2026-07-06T21:27:58.849Z",
      "id": "mMSQuqOajSAClJvS",
      "name": "WhatsApp"
    }
  ]
}