Meta Cloud API - CRM Production.json
{
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7584,
        2096
      ],
      "id": "91117f76-566d-4d13-a0f6-41f7ca6fd00d",
      "name": "Webhook GET",
      "webhookId": "b7c3e001-get-4a00-b000-whatsapp00001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "verify-token-match",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "=nexora_lab_2026_automation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "mode-is-subscribe",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7824,
        2096
      ],
      "id": "0b98910f-29f9-4d28-8000-ff23a2eebf80",
      "name": "Verify Token"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook GET').item.json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        8096,
        2016
      ],
      "id": "6271ee51-de88-48d9-9536-ae76554901b3",
      "name": "Return Challenge"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        8096,
        2144
      ],
      "id": "94ac8f9d-9fe2-49db-9a55-a916c567cde3",
      "name": "Reject Verification"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7584,
        2432
      ],
      "id": "42c4bc71-7b4e-4313-8dda-addb1144c553",
      "name": "Webhook POST",
      "webhookId": "b7c3e001-post-4a00-b000-whatsapp00002"
    },
    {
      "parameters": {
        "jsCode": "// Duplicate message protection using workflow static data (production-safe, fail-open)\n// This blocks the vast majority of duplicate webhook deliveries from Meta (formal\n// retries, delayed re-sends that arrive after this workflow has already finished\n// once). It is paired with \"Send Guard\" right before the WhatsApp send, which is\n// the tighter of the two checks. Kept intentionally lean (capped size + time-based\n// expiry below) so this lookup stays fast on every single execution, forever —\n// a bloated cache here slows down every future run and widens the collision window.\ntry {\n  const body = $input.first().json.body;\n  const messageId = body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id;\n\n  // No message ID means status update or malformed — pass through for filtering\n  if (!messageId) {\n    return [{ json: $input.first().json }];\n  }\n\n  // Get global static data cache\n  const cache = $getWorkflowStaticData('global');\n  if (!cache.processedMessages) {\n    cache.processedMessages = {};\n  }\n\n  const now = Date.now();\n  const MAX_AGE_MS = 6 * 60 * 60 * 1000; // 6 hours is plenty — real duplicates arrive within seconds/minutes\n  const MAX_ENTRIES = 300;\n\n  // Housekeeping: only runs once the cache actually grows, first by age then by size.\n  const keys = Object.keys(cache.processedMessages);\n  if (keys.length > MAX_ENTRIES) {\n    for (const k of keys) {\n      if (now - cache.processedMessages[k] > MAX_AGE_MS) {\n        delete cache.processedMessages[k];\n      }\n    }\n    const remaining = Object.keys(cache.processedMessages);\n    if (remaining.length > MAX_ENTRIES) {\n      const sorted = remaining.sort((a, b) => cache.processedMessages[a] - cache.processedMessages[b]);\n      for (let i = 0; i < sorted.length - MAX_ENTRIES; i++) {\n        delete cache.processedMessages[sorted[i]];\n      }\n    }\n  }\n\n  // Duplicate check\n  if (cache.processedMessages[messageId]) {\n    return []; // Stop — already processed, prevents duplicate replies from Meta retries\n  }\n\n  // Mark as processed and continue\n  cache.processedMessages[messageId] = now;\n  return [{ json: $input.first().json }];\n} catch (err) {\n  // Fail-open: never block a real message because of an internal dedup error\n  console.log(JSON.stringify({ ts: new Date().toISOString(), dedupGuardError: String(err && err.message ? err.message : err) }));\n  return [{ json: $input.first().json }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8272,
        2432
      ],
      "id": "5f51b46e-5ba7-4962-8fb2-6dbc8631c6ed",
      "name": "Dedup Guard",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Production-safe Meta WhatsApp Cloud payload parser — never throws\ntry {\n  const body = $input.first().json.body;\n  const value = body?.entry?.[0]?.changes?.[0]?.value;\n\n  // Ignore status events, delivery receipts, read receipts etc.\n  if (!value?.messages?.length) {\n    return [];\n  }\n\n  const msg = value.messages[0];\n  const contact = value.contacts?.[0];\n\n  let messageText = \"\";\n  let mediaId = null;\n  let mediaCaption = null;\n  let location = null;\n  let contactsShared = null;\n\n  switch (msg.type) {\n    case \"text\":\n      messageText = msg.text?.body || \"\";\n      break;\n\n    case \"interactive\":\n      if (msg.interactive?.type === \"button_reply\") {\n        messageText = msg.interactive.button_reply?.title || \"[button reply]\";\n      } else if (msg.interactive?.type === \"list_reply\") {\n        messageText = msg.interactive.list_reply?.title || \"[list reply]\";\n      } else {\n        messageText =\n          msg.interactive?.button_reply?.title ||\n          msg.interactive?.list_reply?.title ||\n          \"[interactive]\";\n      }\n      break;\n\n    case \"button\":\n      messageText = msg.button?.text || \"[button]\";\n      break;\n\n    case \"image\":\n      mediaId = msg.image?.id || null;\n      mediaCaption = msg.image?.caption || \"\";\n      messageText = mediaCaption ? `[image] ${mediaCaption}` : \"[image]\";\n      break;\n\n    case \"document\":\n      mediaId = msg.document?.id || null;\n      mediaCaption = msg.document?.caption || msg.document?.filename || \"\";\n      messageText = mediaCaption ? `[document] ${mediaCaption}` : \"[document]\";\n      break;\n\n    case \"audio\":\n      mediaId = msg.audio?.id || null;\n      messageText = \"[audio message]\";\n      break;\n\n    case \"voice\":\n      mediaId = msg.voice?.id || null;\n      messageText = \"[voice message]\";\n      break;\n\n    case \"video\":\n      mediaId = msg.video?.id || null;\n      mediaCaption = msg.video?.caption || \"\";\n      messageText = mediaCaption ? `[video] ${mediaCaption}` : \"[video]\";\n      break;\n\n    case \"sticker\":\n      mediaId = msg.sticker?.id || null;\n      messageText = \"[sticker]\";\n      break;\n\n    case \"location\":\n      location = {\n        latitude: msg.location?.latitude ?? null,\n        longitude: msg.location?.longitude ?? null,\n        name: msg.location?.name || \"\",\n        address: msg.location?.address || \"\"\n      };\n      messageText = `[location] ${location.name || \"\"} ${location.address || \"\"}`.trim() || \"[location shared]\";\n      break;\n\n    case \"contacts\":\n      contactsShared = msg.contacts || [];\n      messageText = \"[contact shared]\";\n      break;\n\n    default:\n      messageText = `[unsupported message type: ${msg.type || \"unknown\"}]`;\n  }\n\n  return [\n    {\n      json: {\n        phone: msg.from,\n        profileName: contact?.profile?.name || \"\",\n        message: messageText,\n        messageId: msg.id,\n        messageType: msg.type || \"unknown\",\n        mediaId,\n        mediaCaption,\n        location,\n        contactsShared,\n        timestamp: msg.timestamp,\n        phoneNumberId: value.metadata?.phone_number_id,\n        wa_id: contact?.wa_id || msg.from\n      }\n    }\n  ];\n} catch (err) {\n  // Never throw — always return a safe, loggable fallback item\n  console.log(JSON.stringify({ ts: new Date().toISOString(), extractDataError: String(err && err.message ? err.message : err) }));\n  return [\n    {\n      json: {\n        phone: null,\n        profileName: \"\",\n        message: \"[unparsed message]\",\n        messageId: null,\n        messageType: \"unknown\",\n        mediaId: null,\n        mediaCaption: null,\n        location: null,\n        contactsShared: null,\n        timestamp: null,\n        phoneNumberId: null,\n        wa_id: null,\n        error: String(err && err.message ? err.message : err)\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8496,
        2432
      ],
      "id": "1f7a7e29-1406-4d55-9307-fb90f9863a38",
      "name": "Extract Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        8720,
        2432
      ],
      "id": "e9cf21cf-5f18-41f6-8a08-293a9a74e165",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message: {{ $('Extract Data').item.json.message }}\\n\\nThis is the Person's Phone Number: {{ $('Extract Data').item.json.phone }}\\nProfile Name: {{ $('Extract Data').item.json.profileName }}",
        "options": {
          "systemMessage": "=You are **Mahakal Property AI**, the property consultant for **Mahakal Property**, a full-service real estate agency covering **all of Indore** — Buy, Sell, and Rent, residential and commercial. You talk to leads on WhatsApp who came from ads, referrals, or listings.\n\nYou are a sharp, warm, consultative closer — not a support bot. Your ONE goal: understand what the lead needs, build trust fast, and get them to a booked site visit. Every message should move toward that.\n\nCURRENT DATE & TIME:\n{{ $json.currentDate }}\n\n═══════════════════════════════════\nOUTPUT RULES (read every time)\n═══════════════════════════════════\n- Your output goes STRAIGHT to WhatsApp. The lead sees exactly what you write.\n- Reply in MAX 1–2 short sentences. A few words is often best (\"Achha, samajh gaya\", \"Theek hai ji\").\n- ONE question per message. Never stack two questions.\n- Never expose tool names, JSON, reasoning, or phrases like \"let me check\" / \"the system\". Only the human message.\n- Never repeat a sentence you already sent. Say each thing once.\n- Max one emoji, and not every message. Text like a real Indore dealer on his phone — not a brochure.\n\n═══════════════════════════════════\nLANGUAGE — MIRROR THE LEAD (STRICT)\n═══════════════════════════════════\nPick language ONLY from the lead's LATEST message — never from their name or area.\n- Hindi/Hinglish → warm Hinglish: \"Haan ji, kaunsa area dekh rahe hain?\"\n- Pure English → clean confident English, no Hindi mixed in.\n- Marathi → Marathi. Gujarati → Gujarati. Tamil → Tamil. Any other language → that same language.\n- Lead switches language mid-chat → you switch from your very next message, no asking.\n- Ambiguous (only a name/emoji/\"ok\") or first message → default Hinglish.\nEvery example below is a TEMPLATE — say the same idea in the lead's language. Mirror their energy: formal→polished, casual→friendly. Use their name once you know it.\n\n═══════════════════════════════════\nIDENTITY\n═══════════════════════════════════\nDon't volunteer that you're an AI. If asked directly, answer honestly and keep helping: \"Haan ji, main Mahakal Property ka AI assistant hoon — instant reply aur booking main handle karta hoon. Aapki requirement bataiye, abhi help karta hoon.\"\n\n═══════════════════════════════════\nGREETING RULE\n═══════════════════════════════════\nA message is a fresh start ONLY if it's purely a greeting (\"Hi\", \"Hello\", \"Namaste\", \"Ok\", \"Thanks\"). If a greeting comes with anything else, continue the flow — don't re-greet.\nFresh-start opener (in their language):\n- English: \"Hi! Welcome to Mahakal Property. Looking to buy, sell, or rent?\"\n- Hinglish: \"Namaste ji! Mahakal Property mein swagat hai. Property khareedni hai, bechni hai, ya rent par leni hai?\"\nNever re-greet or say \"how can I help\" mid-conversation.\n\n═══════════════════════════════════\nABOUT MAHAKAL PROPERTY (never invent beyond this)\n═══════════════════════════════════\nFull-service agency across all of Indore and nearby areas.\n- Buy, Sell, Rent/Lease — residential + commercial.\n- Types: 1/2/3/4 BHK flats, houses, bungalows, villas, builder floors; residential/agricultural/farmhouse plots; shops, showrooms, offices, co-working, warehouses; PG/family/bachelor rentals.\n- We help end-to-end: shortlisting, price negotiation, paperwork guidance, site visits.\n- We do NOT give legal or loan advice — that goes to the team.\nPRICING: Never quote exact prices or per-sq-ft rates. If pushed, give the budget-tier range below, then: \"Exact price aur negotiation site visit par clear ho jayega — wahan sahi options dikha denge.\" You may ask budget early to filter faster.\n\n═══════════════════════════════════\nSERVICE AREA — INDORE ONLY (strict)\n═══════════════════════════════════\nWe deal ONLY in Indore and its nearby areas — nothing outside Indore.\nIf a lead asks about property in any other city (Bhopal, Ujjain, Dewas, Mumbai, Pune, etc.), politely decline and pull them back to Indore in the same message:\n- Hinglish: \"Abhi hum sirf Indore mein hi deal karte hain ji. Indore mein koi property dekhni ho toh bataiye — main best options nikal deta hoon.\"\n- English: \"Right now we only deal within Indore. If you're open to something in Indore, tell me and I'll find you the best options.\"\nNever promise to search or arrange anything outside Indore. Always redirect to an Indore requirement.\n\n\n═══════════════════════════════════\nINDORE AREA KNOWLEDGE (use to sound local + match budget)\n═══════════════════════════════════\nAsk Buy/Sell/Rent + budget before recommending.\nRESIDENTIAL AREAS:\n- Vijay Nagar, Scheme 54, Scheme 78 — prime, malls/schools, strong resale.\n- Old/New Palasia, Sapna Sangeeta — central, premium.\n- Bengali Square, Nipania, AB Road — fast-growing IT/pro belt.\n- Super Corridor — newest premium, gated townships, plots + luxury.\n- Scheme 140, Scheme 114, Kalani Nagar — mid-premium, family-friendly.\n- Khajrana, Annapurna Road, Bhawarkuan — solid mid-range.\n- Rajendra Nagar, Sudama Nagar, LIG — budget-friendly, established.\n- Bicholi Mardana, Kanadia Road, Rau — developing, affordable plots.\nBUDGET (approx, confirm on visit):\n- Under 25L: Rajendra Nagar, Sudama Nagar, Bicholi Mardana, Kanadia Road\n- 25–50L: Scheme 78, Bengali Square, Nipania, Khajrana\n- 50–90L: Vijay Nagar, Scheme 54, Scheme 140, Super Corridor (entry)\n- 90L+: Palasia premium, Vijay Nagar high-rises, Super Corridor luxury\nCOMMERCIAL: Vijay Nagar (top footfall/retail), MG Road & Palasia (offices/premium retail), AB Road (showrooms/warehouses), Rajwada/Sarafa (old-city trade), Super Corridor (offices/IT).\nNever invent specifics (exact rate, RERA no., possession date, legal status). If unsure, say you'll confirm with the team.\n\n═══════════════════════════════════\nCONVERSATION FLOW — DISCOVER → MATCH → CLOSE\n═══════════════════════════════════\nMove ONE question at a time, reacting like a human before the next question (\"Achha Vijay Nagar? Wahan demand strong hai\").\n1. Intent — Buy, Sell, or Rent? (if selling, ask what they own)\n2. Property type — flat/house/plot/commercial + BHK\n3. Location — which area, or open to suggestions?\n4. Budget — \"Approx budget kitna soch rahe hain?\" (after intent + type)\n5. Timeline — \"Kab tak finalize karna hai — jaldi ya abhi dekh rahe hain?\"\n6. Match — name 1–2 areas that fit THEIR budget in one line: \"Aapke budget mein Nipania aur Scheme 78 side accha 2BHK milega.\"\n7. Close — go for the visit confidently (see below).\n\nGet their name naturally early. You already have their WhatsApp number.\n\nCLOSING (the real job):\n- Once you know intent + type + rough area/budget, push for the visit: \"Best rahega ek site visit — options खुद dekh lenge, koi commitment nahi. Kal ka time chalega?\"\n- Assume the visit. Offer specific slots, don't ask \"do you want to visit?\": \"Kal shaam 5 baje ya parso subah 11 — kya suit karta hai?\"\n- Site visit is FREE and no-obligation — say this to lower resistance.\n\nOBJECTIONS (short, confident, never pushy):\n- \"Costly hai\" → \"Samajh gaya. Area ya type thoda flexible rakhein toh budget mein accha match nikal aayega.\"\n- \"Sochke batata hoon\" → \"Bilkul. Ek visit fix kar lete hain bina commitment — pasand na aaye toh mana kar dena.\"\n- \"Trust kaise karein\" → \"Fair sawaal. Mahakal Property Indore mein established hai — visit par khud property aur team dekh lena.\"\n- Clear NO twice → \"Koi baat nahi ji! Jab bhi zaroorat ho, message kar dena. All the best!\"\n\n═══════════════════════════════════\nLEAD CAPTURE (fire early, once)\n═══════════════════════════════════\nCall `Lead Capture` ONCE — the first moment you have name + basic requirement (intent + type). Don't wait for everything.\nFields (fill sensible defaults, never leave blank):\n- Name, Phone_Number (their WhatsApp number)\n- Requirements — one line: Intent + Type + Area + Budget + Timeline. e.g. \"Buy, 2BHK, Nipania, 45-55L, 1 month\"\n- Interested — \"Yes\"/\"No\"\n- Booking_Time — \"Not Booked\" until confirmed\n- Event_ID — \"NA\" until confirmed\nAny later change → `Update_Lead` only. Never call `Lead Capture` twice for the same person.\n\n═══════════════════════════════════\nSITE VISIT BOOKING\n═══════════════════════════════════\nTrigger on clear intent (\"visit karni hai\", \"site dekhni hai\", \"haan book karo\", \"kal 4 baje\").\n\nHours: any time between 10:00 AM and 7:00 PM IST (the visit can be booked at ANY time in that window — 10, 11:30, 2, 4:45, 6, etc.). Only reject a time if it falls OUTSIDE 10 AM–7 PM. Always verify the exact slot with check_calendar — never assume it's free.\nIf the lead asks for a time outside the window: \"Site visit 10 baje se 7 baje ke beech hi hoti hai ji — is time mein koi slot bata dijiye.\"\n\nStep 1 — If date or time missing, ask for it: \"Kaunsi date aur approx time convenient rahega?\" Resolve \"kal/parso/Sunday\" using CURRENT DATE & TIME.\nStep 2 — Once BOTH date + time are known:\n  a. `check_calendar` — confirm the slot is free within hours.\n  b. If free, in this order: `Lead Capture` (if not done) → `book_calendar` (1-hour event, title \"Property Site Visit - [Name]\", description = Name, Phone, Intent+Type, Area, Budget, Timeline) → `Sync_Appointment_CRM` (action \"book\", phone, name, startTime in ISO 8601 +05:30, googleEventId from book_calendar, notes = the Requirements line) → `Update_Lead` (Booking_Time = confirmed slot, Event_ID = from book_calendar, Interested \"Yes\").\n  c. After `book_calendar` succeeds, confirm: \"Perfect ji! Aapki visit [date] ko [time] par confirm ho gayi. Team isi number par contact karegi.\"\nStep 3 — If slot NOT free: never say \"check karke batata hoon\". Offer 3 options: \"Us time availability nahi hai. [opt1], [opt2], ya [opt3] mein se koi chalega?\" then repeat Step 2.\n\nBOOKING FAILURE HANDLING:\n- If `book_calendar` SUCCEEDS, the visit is real — ALWAYS confirm it, even if `Sync_Appointment_CRM` or `Update_Lead` fail afterward. Don't retry them, don't mention any delay.\n- Only if `book_calendar` itself fails: \"Ek min ji, booking mein thodi delay hai — main slot team ko forward kar deta hoon, wo jaldi confirm karenge.\" Then `Lead Capture` (if pending) → `Update_Lead` once (Interested \"Yes\", note \"Follow Up Required - booking failed\"). Then stop.\n- Never leave them hanging. Never say \"I'll check and reply later.\"\n\n═══════════════════════════════════\nAPPOINTMENT CHECK / CANCEL\n═══════════════════════════════════\nCheck (\"meri visit kab hai?\"): `Get_Lead` → if Event_ID exists → `check_calendar` → reply with date/time. If none: \"Ji, koi visit booked nahi dikh rahi. Ek slot book kar doon?\"\nCancel (only if asked): `Get_Lead` → `Cancel_Appointment` → `Sync_Appointment_CRM` (action \"cancel\", phone, googleEventId) → `Update_Lead` (Booking_Time \"Not Booked\", Event_ID \"NA\"). Then rebook once: \"Cancel ho gaya ji. Koi aur din try karein?\"\n\n═══════════════════════════════════\nESCALATION\n═══════════════════════════════════\nIf they ask legal/loan advice, want hard price negotiation, are repeatedly unhappy, or ask for a human: \"Samajh gaya — is par team aapse personally baat karegi. Naam confirm kar dijiye?\" Then `Lead Capture`/`Update_Lead` (Interested \"Yes\") and stop selling.\n\n═══════════════════════════════════\nTOOL ORDER (never skip check_calendar before book_calendar)\n═══════════════════════════════════\nQualify → `Lead Capture` (once) → `check_calendar` → `book_calendar` → `Sync_Appointment_CRM` → `Update_Lead`\nCheck: `Get_Lead` → `check_calendar` → reply\nCancel: `Get_Lead` → `Cancel_Appointment` → `Sync_Appointment_CRM` → `Update_Lead`\nDo NOT use `Reminder_Tool`.\n\n═══════════════════════════════════\nDISCIPLINE\n═══════════════════════════════════\n- Exactly ONE reply per incoming message. Never two in a row.\n- Never call the same tool twice for the same purpose. Once a tool succeeds, trust it and move on.\n- Fewer tool calls = faster reply = better experience.\n- Once `book_calendar` succeeds, ALWAYS tell the customer it's confirmed.\n- Never invent pricing, projects, legal status, or timelines.\n",
          "maxIterations": 12
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        8944,
        2432
      ],
      "id": "0d55dd84-30fa-4d9b-b912-3009af5417c2",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        8768,
        2672
      ],
      "id": "33cd6629-5c46-4188-9374-728504b06843",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8xzFO0yqbMyCRUJs",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Requirements": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requirements', ``, 'string') }}",
            "Interested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested', ``, 'string') }}",
            "Booking Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_Time', ``, 'string') }}",
            "Event ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        9056,
        2672
      ],
      "id": "b0ed782c-440d-4e54-b86e-f73b140366df",
      "name": "Lead Capture",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Requirements": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requirements', ``, 'string') }}",
            "Interested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested', ``, 'string') }}",
            "Booking Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_Time', ``, 'string') }}",
            "Event ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        9184,
        2672
      ],
      "id": "acd91dd4-fec8-496a-a48f-059a65f77b19",
      "name": "Update_Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        9328,
        2672
      ],
      "id": "509ef41b-7c5c-4c05-8776-7038ed094d6c",
      "name": "Get_Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Start of time range in ISO 8601 with +05:30 timezone e.g. 2026-07-15T10:00:00+05:30`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `End of time range in ISO 8601 with +05:30 timezone e.g. 2026-07-15T19:00:00+05:30`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        9472,
        2672
      ],
      "id": "e397d33b-3084-49a5-b49b-6d8ad627d158",
      "name": "check_calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Start date-time in ISO 8601 with +05:30 timezone e.g. 2026-07-15T12:00:00+05:30`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `End date-time in ISO 8601 with +05:30 timezone, 1 hour after Start e.g. 2026-07-15T13:00:00+05:30`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Customer details: Name, Phone, Requirement (Buy/Sell/Rent), Location preference, Budget`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Event title e.g. Property Site Visit - Customer Name`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        9616,
        2672
      ],
      "id": "95f23dbd-f12c-427c-adfd-31e6bea86f4f",
      "name": "book_calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Google Calendar event ID to cancel, obtained from Get_Lead`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        9744,
        2672
      ],
      "id": "a9dc1341-2643-4f53-bd92-45d6042d48ca",
      "name": "Cancel_Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool upon booking is done and send all the information like when is the appointment booked for, Name of the Person who has booked the appointment and all the other details, this tool sets up the Reminder Flow for the particular person\n",
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.REMINDER_WORKFLOW_ID }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Time Booked At": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time_Booked_At', ``, 'string') }}",
            "Reason": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reason', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Time Booked At",
              "displayName": "Time Booked At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        9888,
        2672
      ],
      "id": "125c05c6-5262-4861-8766-2fdb366d7e51",
      "name": "Reminder_Tool"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Extract Data').item.json.messageId }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8944,
        2256
      ],
      "id": "1de6efe6-1909-42a8-b989-13ea0c9fd40d",
      "name": "Mark as Read",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($('Prepare Reply').item.json.replyText) }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9616,
        2432
      ],
      "id": "0180183c-ab22-4a56-925f-def0090789a6",
      "name": "Send WhatsApp Reply",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Structured, production-safe execution log — never throws, never blocks the workflow\ntry {\n  let extract = {};\n  try { extract = $('Extract Data').item.json || {}; } catch (e) { extract = {}; }\n\n  let aiReply = null;\n  try { aiReply = $('Prepare Reply').item.json.replyText; } catch (e) { aiReply = null; }\n\n  let sendRes = {};\n  try { sendRes = $input.first().json || {}; } catch (e) { sendRes = {}; }\n\n  const log = {\n    ts: new Date().toISOString(),\n    customer: { phone: extract.phone || null, name: extract.profileName || '', msgType: extract.messageType || 'unknown' },\n    inbound: extract.message || null,\n    aiReply: aiReply,\n    sent: !!(sendRes && sendRes.messages),\n    metaMsgId: sendRes?.messages?.[0]?.id || null,\n    error: sendRes?.error || null\n  };\n\n  console.log(JSON.stringify(log));\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), loggerError: String(err && err.message ? err.message : err) }));\n}\n\nreturn [{ json: { status: 'EVENT_LOGGED' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9840,
        2432
      ],
      "id": "bc992d1b-27eb-453f-be14-3b4d19959df2",
      "name": "Execution Logger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data').item.json.phone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        8960,
        2640
      ],
      "id": "89f46148-dcfe-4efd-8d7d-4f720d14821c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-messages-array",
              "leftValue": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8048,
        2432
      ],
      "id": "bd42d45e-3726-4cb0-b145-95d227ded367",
      "name": "Filter Messages Only",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Status/receipt event (sent, delivered, read, etc.) — safely ignored, never throws\ntry {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), event: 'non_message_event_ignored' }));\n} catch (err) {\n  // never throw\n}\nreturn [{ json: { status: 'IGNORED_NON_MESSAGE_EVENT' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8272,
        2688
      ],
      "id": "9e615fc1-58b5-4502-be1f-474865fcba9a",
      "name": "Ignore Non-Message Event",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook POST').item.json.body) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8272,
        2864
      ],
      "id": "3729d19f-3992-46ff-8975-af4aa3223d43",
      "name": "Sync Status to CRM",
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7824,
        2432
      ],
      "id": "b718bd26-0c7a-4e2b-b3e4-fd920a466107",
      "name": "Ack Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Production-safe AI output sanitizer — strips leaked chain-of-thought reasoning,\n// deduplicates repeated lines/sentences, and ensures only clean customer-facing\n// text is sent to WhatsApp. Never throws.\nconst FALLBACK = \"Ek second ji, system mein thodi delay aa rahi hai. Aapka message mil gaya hai — team jaldi respond karegi.\";\ntry {\n  const aiItem = $input.first().json;\n  let replyText = aiItem?.output;\n\n  if (typeof replyText !== \"string\" || !replyText.trim()) {\n    replyText = FALLBACK;\n  }\n\n  // ── STEP 0: Detect and strip leaked internal reasoning ──\n  const leakPatterns = [\n    /the user conversation above shows/i,\n    /now we must respond/i,\n    /tool calls have already been made/i,\n    /must follow the system rules/i,\n    /mirror tone/i,\n    /one question at a time/i,\n    /chain.of.thought/i,\n    /now respond:/i,\n    /send final/i,\n    /lead captured\\./i,\n    /booking attempted;/i,\n    /sync_appointment_crm/i,\n    /update_lead/i,\n    /lead_capture/i,\n    /get_lead/i,\n    /check_calendar/i,\n    /book_calendar/i,\n    /cancel_appointment/i,\n    /\\$fromAI/i,\n    /tool.?name/i,\n    /internal steps/i,\n    /need to call/i,\n    /retry the tool/i,\n    /the agent should/i,\n    /we can offer two/i,\n    /compose.*hinglish/i,\n    /that's \\d+ sentence/i,\n    /provide meeting point/i,\n    /must not invent/i,\n    /rule.*reply in/i,\n    /good\\. send final/i,\n    /also earlier we said/i,\n    /now we send next reply/i,\n    /and must ensure/i\n  ];\n\n  const hasLeak = leakPatterns.some(p => p.test(replyText));\n\n  if (hasLeak) {\n    // Try to extract the first clean customer-facing sentence before the leak\n    const sentences = replyText.split(/(?<=[.!?।])\\s+/);\n    const cleanSentences = [];\n    for (const s of sentences) {\n      const isLeaked = leakPatterns.some(p => p.test(s));\n      if (isLeaked) break;\n      if (s.trim().length > 5) cleanSentences.push(s.trim());\n    }\n    if (cleanSentences.length > 0) {\n      replyText = cleanSentences.join(' ');\n    } else {\n      replyText = FALLBACK;\n    }\n  }\n\n  // ── STEP 1: Normalize helper ──\n  const normalize = (s) => s.toLowerCase().replace(/[^a-z0-9\\u0900-\\u097F]+/gi, \" \").trim();\n\n  // ── STEP 2: Dedupe by line ──\n  const seen = new Set();\n  const lines = replyText.split(\"\\n\");\n  const keptLines = [];\n  for (const line of lines) {\n    const key = normalize(line);\n    if (!key) { keptLines.push(line); continue; }\n    if (seen.has(key)) continue;\n    seen.add(key);\n    keptLines.push(line);\n  }\n  replyText = keptLines.join(\"\\n\");\n\n  // ── STEP 3: Dedupe by sentence ──\n  const sentSeen = new Set();\n  const parts = replyText.split(/(?<=[.!?\\u0964])\\s+/);\n  if (parts.length > 1) {\n    const keptSents = [];\n    for (const p of parts) {\n      const key = normalize(p);\n      if (key && key.split(\" \").length >= 4) {\n        if (sentSeen.has(key)) continue;\n        sentSeen.add(key);\n      }\n      keptSents.push(p);\n    }\n    replyText = keptSents.join(\" \").replace(/[ \\t]+\\n/g, \"\\n\").trim();\n  }\n\n  // ── STEP 4: Collapse excessive blank lines ──\n  replyText = replyText.replace(/\\n{3,}/g, \"\\n\\n\").trim();\n\n  // ── STEP 5: Final length sanity check — real replies are under 500 chars ──\n  if (replyText.length > 800) {\n    const firstChunk = replyText.substring(0, 500);\n    const lastSentEnd = Math.max(firstChunk.lastIndexOf('.'), firstChunk.lastIndexOf('!'), firstChunk.lastIndexOf('?'), firstChunk.lastIndexOf('।'));\n    if (lastSentEnd > 50) {\n      replyText = firstChunk.substring(0, lastSentEnd + 1).trim();\n    } else {\n      replyText = FALLBACK;\n    }\n  }\n\n  if (!replyText) {\n    replyText = FALLBACK;\n  }\n\n  return [{ json: { replyText } }];\n} catch (err) {\n  return [{ json: { replyText: FALLBACK } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9248,
        2288
      ],
      "id": "3068e6e6-34f0-4c75-b958-13678066ee7c",
      "name": "Prepare Reply",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FINAL duplicate-send protection — DB-backed ATOMIC claim (race-safe & queue-safe).\n// Claims this inbound message id in Supabase `processed_messages` immediately before\n// the WhatsApp send. The table's PRIMARY KEY guarantees only ONE execution — across\n// every concurrent run AND across n8n worker processes (queue mode) — can claim a\n// given id, so at most ONE AI reply is ever sent per inbound message.\n// Fail-open: any internal/DB error ALLOWS the send rather than dropping a real reply.\ntry {\n  const messageId = $('Extract Data').first().json.messageId;\n  const passthrough = [{ json: $input.first().json }];\n  if (!messageId) return passthrough;\n\n  const SB_URL = $env.SUPABASE_URL || 'https://poailedbsjhxjbniknqg.supabase.co';\n  const SB_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n  if (!SB_KEY || typeof fetch === 'undefined') return passthrough;\n\n  const res = await fetch(`${SB_URL}/rest/v1/processed_messages?on_conflict=message_id`, {\n    method: 'POST',\n    headers: {\n      'apikey': SB_KEY,\n      'Authorization': `Bearer ${SB_KEY}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'resolution=ignore-duplicates,return=representation',\n    },\n    body: JSON.stringify({ message_id: String(messageId) }),\n  });\n\n  let rows = [];\n  try { rows = await res.json(); } catch (e) { return passthrough; }\n\n  // New insert => array with 1 row (we claimed it). Conflict => empty array (duplicate).\n  if (Array.isArray(rows) && rows.length === 0) {\n    console.log(JSON.stringify({ ts: new Date().toISOString(), sendGuard: 'duplicate_skipped', messageId }));\n    return [];\n  }\n  return passthrough;\n} catch (e) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), sendGuard: 'fail_open', error: String(e && e.message || e) }));\n  return [{ json: $input.first().json }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9392,
        2432
      ],
      "id": "ecbec938-d220-447c-bb00-f48a16b9f0fd",
      "name": "Send Guard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"profileName\": \"{{ $('Extract Data').item.json.profileName }}\",\n  \"message\": {{ JSON.stringify($('Extract Data').item.json.message) }},\n  \"messageId\": \"{{ $('Extract Data').item.json.messageId }}\",\n  \"messageType\": \"{{ $('Extract Data').item.json.messageType }}\",\n  \"wa_id\": \"{{ $('Extract Data').item.json.wa_id }}\",\n  \"timestamp\": \"{{ $('Extract Data').item.json.timestamp }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8496,
        3056
      ],
      "id": "c5867911-624b-42b9-8bd0-126fcb79883f",
      "name": "Sync Inbound to CRM",
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/ai-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"replyText\": {{ JSON.stringify($('Prepare Reply').item.json.replyText) }},\n  \"messageId\": \"{{ $('Send WhatsApp Reply').item.json.messages?.[0]?.id || 'ai_' + Date.now() }}\",\n  \"status\": \"{{ $('Send WhatsApp Reply').item.json.messages && $('Send WhatsApp Reply').item.json.messages[0] && $('Send WhatsApp Reply').item.json.messages[0].id ? 'sent' : 'failed' }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9840,
        3056
      ],
      "id": "2d6c5c1a-e492-404c-b0b7-2a1eb19c7305",
      "name": "Save AI Reply to CRM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-agent-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        10368,
        2096
      ],
      "id": "76f07b0f-3feb-479d-a80c-b90246cc52d3",
      "name": "CRM Reply Webhook",
      "webhookId": "crm-reply-0001-0001-0001-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Fetch contact phone number from Supabase for CRM agent reply\n// Env vars: SUPABASE_URL, SUPABASE_SERVICE_KEY, WORKSPACE_ID\ntry {\n  const body = $input.first().json.body || $input.first().json;\n  const { conversation_id, workspace_id, agent_id, message, timestamp } = body;\n\n  if (!conversation_id || !message) {\n    return [{ json: { error: 'Missing conversation_id or message', ok: false } }];\n  }\n\n  const SB_URL = $env.SUPABASE_URL;\n  const SB_KEY = $env.SUPABASE_SERVICE_KEY;\n\n  if (typeof fetch === 'undefined') {\n    console.log(JSON.stringify({ ts: new Date().toISOString(), node: 'CRM Prepare Send', skip: 'fetch unavailable' }));\n    return [{ json: { ok: false, error: 'fetch unavailable' } }];\n  }\n  if (!SB_URL || !SB_KEY) {\n    return [{ json: { error: 'Supabase env vars not configured', ok: false } }];\n  }\n\n// 5-second timeout wrapper — prevents hanging if Supabase is unreachable\n  function withTimeout(promise, ms) {\n    return Promise.race([\n      promise,\n      new Promise((_, reject) => setTimeout(() => reject(new Error('CRM fetch timeout')), ms))\n    ]);\n  }\n  async function sbFetch(url, opts) {\n    for (let attempt = 0; attempt < 2; attempt++) {\n      try { return await withTimeout(fetch(url, opts), 5000); } catch (e) {\n        if (attempt === 1) throw e;\n        await new Promise(r => setTimeout(r, 500));\n      }\n    }\n  }\n\n  const headers = {\n    'Content-Type': 'application/json',\n    apikey: SB_KEY,\n    Authorization: `Bearer ${SB_KEY}`\n  };\n\n  // Fetch conversation with contact phone (Supabase foreign-key join)\n  const convRes = await sbFetch(\n    `${SB_URL}/rest/v1/conversations?id=eq.${conversation_id}&select=id,contact_id,contacts(phone_number,name)`,\n    { headers }\n  );\n  const convs = await convRes.json();\n\n  if (!Array.isArray(convs) || !convs.length || !convs[0].contacts?.phone_number) {\n    return [{ json: { error: 'Conversation or contact not found', conversation_id, ok: false } }];\n  }\n\n  return [{ json: {\n    ok: true,\n    conversation_id,\n    workspace_id: workspace_id || $env.WORKSPACE_ID || '',\n    agent_id: agent_id || '',\n    message: (message || '').trim(),\n    timestamp: timestamp || new Date().toISOString(),\n    phone: convs[0].contacts.phone_number,\n    contactName: convs[0].contacts.name || convs[0].contacts.phone_number\n  }}];\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), crmPrepareErr: String(err?.message || err) }));\n  return [{ json: { error: String(err?.message || err), ok: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10608,
        2096
      ],
      "id": "37110ce2-da12-44b4-96ac-27cec8722ab9",
      "name": "CRM Prepare Send",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($json.message) }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10848,
        2096
      ],
      "id": "7d666ce1-da4f-492f-8571-e3b007ccf584",
      "name": "CRM Send WhatsApp",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/ai-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('CRM Prepare Send').item.json.to }}\",\n  \"replyText\": {{ JSON.stringify($('CRM Prepare Send').item.json.replyText) }},\n  \"messageId\": \"{{ $('CRM Send WhatsApp').item.json.messages?.[0]?.id || 'crm_' + Date.now() }}\",\n  \"status\": \"{{ $('CRM Send WhatsApp').item.json.messages && $('CRM Send WhatsApp').item.json.messages[0] && $('CRM Send WhatsApp').item.json.messages[0].id ? 'sent' : 'failed' }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11088,
        2096
      ],
      "id": "f97365d4-c1d6-4980-b614-67d3eb9cb47a",
      "name": "CRM Sync Reply",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Sync a booked or cancelled consultation into the Nexora CRM so it appears on the Appointments page. Call with action \"book\" immediately after book_calendar succeeds, or action \"cancel\" immediately after Cancel_Appointment succeeds.",
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/appointment",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-webhook-secret",
              "valueProvider": "fieldValue",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"{action}\",\n  \"phone\": \"{phone}\",\n  \"name\": \"{name}\",\n  \"startTime\": \"{startTime}\",\n  \"googleEventId\": \"{googleEventId}\",\n  \"notes\": \"{notes}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "action",
              "description": "Either \"book\" (after book_calendar succeeds) or \"cancel\" (after Cancel_Appointment succeeds)",
              "type": "string"
            },
            {
              "name": "phone",
              "description": "Customer WhatsApp number, digits only with country code, e.g. 916265581678",
              "type": "string"
            },
            {
              "name": "name",
              "description": "Customer full name",
              "type": "string"
            },
            {
              "name": "startTime",
              "description": "Confirmed slot in ISO 8601 with IST timezone, e.g. 2026-07-10T16:00:00+05:30. Required for book, use empty string for cancel.",
              "type": "string"
            },
            {
              "name": "googleEventId",
              "description": "The Google Calendar event ID returned by book_calendar (or from Get_Lead when cancelling)",
              "type": "string"
            },
            {
              "name": "notes",
              "description": "One-line summary: business, requirement, budget, service interested. Empty string for cancel.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        9488,
        3040
      ],
      "id": "e2c164a9-6eb8-4167-a91f-68d237637831",
      "name": "Sync_Appointment_CRM",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Check if AI is paused for this contact's conversation in Supabase\ntry {\n  const phone = $('Extract Data').first().json.phone;\n  if (!phone) {\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const SB_URL = $env.SUPABASE_URL || 'https://poailedbsjhxjbniknqg.supabase.co';\n  const SB_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\n  if (!SB_KEY) {\n    console.log(JSON.stringify({ ts: new Date().toISOString(), checkAiPaused: 'no_key', phone }));\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const contactRes = await fetch(\n    `${SB_URL}/rest/v1/contacts?phone_number=eq.${encodeURIComponent(phone)}&select=id&limit=1`,\n    { headers: { 'apikey': SB_KEY, 'Authorization': `Bearer ${SB_KEY}` } }\n  );\n  const contacts = await contactRes.json();\n\n  if (!contacts || !contacts.length) {\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const contactId = contacts[0].id;\n\n  const convRes = await fetch(\n    `${SB_URL}/rest/v1/conversations?contact_id=eq.${contactId}&select=id,ai_paused&limit=1`,\n    { headers: { 'apikey': SB_KEY, 'Authorization': `Bearer ${SB_KEY}` } }\n  );\n  const convs = await convRes.json();\n\n  if (!convs || !convs.length) {\n    return [{ json: { ...($input.first().json), aiPaused: false } }];\n  }\n\n  const aiPaused = convs[0].ai_paused === true;\n  console.log(JSON.stringify({ ts: new Date().toISOString(), checkAiPaused: aiPaused, phone, contactId, convId: convs[0].id }));\n\n  return [{ json: { ...($input.first().json), aiPaused } }];\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), checkAiPausedError: String(err && err.message ? err.message : err) }));\n  return [{ json: { ...($input.first().json), aiPaused: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8464,
        2000
      ],
      "id": "e5705f92-93ba-47d3-939b-dd744a582656",
      "name": "Check AI Paused",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ai-not-paused",
              "leftValue": "={{ $json.aiPaused }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8512,
        2272
      ],
      "id": "37999c66-4125-435f-8272-1719e1412000",
      "name": "AI Paused?"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        8768,
        3488
      ],
      "id": "06766ae6-1d47-4c97-9166-4f0db8828bda",
      "name": "Calendar Event Created",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the newly created Google Calendar event into CRM/Sheet fields.\n// The AI's book_calendar node writes summary = \"Property Site Visit - <Name>\"\n// and a description containing Name, Phone, Requirement, Location, Budget.\ntry {\n  const e = $input.first().json;\n  const summary = e.summary || '';\n  const description = e.description || '';\n  const eventId = e.id || '';\n  const startTime = e.start?.dateTime || e.start?.date || '';\n\n  // Name — text after the first \" - \" in the summary\n  let name = '';\n  const parts = summary.split(' - ');\n  if (parts.length > 1) name = parts.slice(1).join(' - ').trim();\n\n  // Phone — first 10–12 digit run found in the description\n  let phone = '';\n  const candidates = (description.match(/\\d[\\d\\s\\-]{8,}\\d/g) || []).map((s) => s.replace(/\\D/g, ''));\n  for (const d of candidates) {\n    if (d.length === 10) { phone = '91' + d; break; }\n    if (d.length >= 11 && d.length <= 12) { phone = d; break; }\n  }\n\n  const notes = description.replace(/\\s+/g, ' ').trim().slice(0, 300);\n\n  return [{ json: { eventId, name, phone, startTime, notes, hasPhone: !!phone } }];\n} catch (err) {\n  return [{ json: { eventId: '', name: '', phone: '', startTime: '', notes: '', hasPhone: false, error: String(err && err.message ? err.message : err) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9008,
        3488
      ],
      "id": "9d4f95bc-12f8-4c0f-9af0-857cc0c48b03",
      "name": "Parse Event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.hasPhone }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9248,
        3488
      ],
      "id": "32d8931e-58e9-425f-853e-c819abca181e",
      "name": "Has Phone?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/appointment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"book\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"startTime\": \"{{ $json.startTime }}\",\n  \"googleEventId\": \"{{ $json.eventId }}\",\n  \"notes\": {{ JSON.stringify($json.notes) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9488,
        3392
      ],
      "id": "d4eecc61-78fb-4eec-9e26-d4fa474188d3",
      "name": "Sync to CRM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ $json.phone }}",
            "Booking Time": "={{ $json.startTime }}",
            "Event ID": "={{ $json.eventId }}",
            "Interested": "Yes"
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        9488,
        3584
      ],
      "id": "f7e95813-98ed-4466-a6c7-efb1cd7957b5",
      "name": "Update Sheet Booking",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Ack Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Guard": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Sync Inbound to CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check AI Paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Capture": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "book_calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel_Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reminder_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save AI Reply to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Filter Messages Only": {
      "main": [
        [
          {
            "node": "Dedup Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Non-Message Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Status to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Webhook": {
      "main": [
        [
          {
            "node": "Filter Messages Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Send Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Guard": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Reply Webhook": {
      "main": [
        [
          {
            "node": "CRM Prepare Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Prepare Send": {
      "main": [
        [
          {
            "node": "CRM Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Send WhatsApp": {
      "main": [
        [
          {
            "node": "CRM Sync Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync_Appointment_CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Paused": {
      "main": [
        [
          {
            "node": "AI Paused?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Paused?": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Event Created": {
      "main": [
        [
          {
            "node": "Parse Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event": {
      "main": [
        [
          {
            "node": "Has Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [
          {
            "node": "Sync to CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Sheet Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ca03925808e9c969f3c8e95dc50317e3bd5556ce532ef2228e477dbc0f2a571"
  }
}