docs/nexora-n8n-workflow-v3.json
{
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1040,
        80
      ],
      "id": "04a6a05f-2824-421e-bdfd-95de2e323203",
      "name": "Webhook GET",
      "webhookId": "b7c3e001-get-4a00-b000-whatsapp00001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "verify-token-match",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "=nexora_lab_2026_automation",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "mode-is-subscribe",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        80
      ],
      "id": "c08cad39-d425-4757-9c23-c475b0aeeb61",
      "name": "Verify Token"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook GET').item.json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1552,
        0
      ],
      "id": "1393f31f-96e1-4a89-9480-23413937f112",
      "name": "Return Challenge"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1552,
        128
      ],
      "id": "465a7e5f-5a7d-4e36-97f6-919b71b7fc12",
      "name": "Reject Verification"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-meta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1040,
        416
      ],
      "id": "1c5075cb-5751-4443-b255-56c0b26148f5",
      "name": "Webhook POST",
      "webhookId": "b7c3e001-post-4a00-b000-whatsapp00002"
    },
    {
      "parameters": {
        "jsCode": "// Duplicate message protection using workflow static data (production-safe, fail-open)\n// This blocks the vast majority of duplicate webhook deliveries from Meta (formal\n// retries, delayed re-sends that arrive after this workflow has already finished\n// once). It is paired with \"Send Guard\" right before the WhatsApp send, which is\n// the tighter of the two checks. Kept intentionally lean (capped size + time-based\n// expiry below) so this lookup stays fast on every single execution, forever вЂ”\n// a bloated cache here slows down every future run and widens the collision window.\ntry {\n  const body = $input.first().json.body;\n  const messageId = body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id;\n\n  // No message ID means status update or malformed вЂ” pass through for filtering\n  if (!messageId) {\n    return [{ json: $input.first().json }];\n  }\n\n  // Get global static data cache\n  const cache = $getWorkflowStaticData('global');\n  if (!cache.processedMessages) {\n    cache.processedMessages = {};\n  }\n\n  const now = Date.now();\n  const MAX_AGE_MS = 6 * 60 * 60 * 1000; // 6 hours is plenty вЂ” real duplicates arrive within seconds/minutes\n  const MAX_ENTRIES = 300;\n\n  // Housekeeping: only runs once the cache actually grows, first by age then by size.\n  const keys = Object.keys(cache.processedMessages);\n  if (keys.length > MAX_ENTRIES) {\n    for (const k of keys) {\n      if (now - cache.processedMessages[k] > MAX_AGE_MS) {\n        delete cache.processedMessages[k];\n      }\n    }\n    const remaining = Object.keys(cache.processedMessages);\n    if (remaining.length > MAX_ENTRIES) {\n      const sorted = remaining.sort((a, b) => cache.processedMessages[a] - cache.processedMessages[b]);\n      for (let i = 0; i < sorted.length - MAX_ENTRIES; i++) {\n        delete cache.processedMessages[sorted[i]];\n      }\n    }\n  }\n\n  // Duplicate check\n  if (cache.processedMessages[messageId]) {\n    return []; // Stop вЂ” already processed, prevents duplicate replies from Meta retries\n  }\n\n  // Mark as processed and continue\n  cache.processedMessages[messageId] = now;\n  return [{ json: $input.first().json }];\n} catch (err) {\n  // Fail-open: never block a real message because of an internal dedup error\n  console.log(JSON.stringify({ ts: new Date().toISOString(), dedupGuardError: String(err && err.message ? err.message : err) }));\n  return [{ json: $input.first().json }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        416
      ],
      "id": "82137d81-9cfd-4275-a792-9a3728f29aa1",
      "name": "Dedup Guard",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Production-safe Meta WhatsApp Cloud payload parser вЂ” never throws\ntry {\n  const body = $input.first().json.body;\n  const value = body?.entry?.[0]?.changes?.[0]?.value;\n\n  // Ignore status events, delivery receipts, read receipts etc.\n  if (!value?.messages?.length) {\n    return [];\n  }\n\n  const msg = value.messages[0];\n  const contact = value.contacts?.[0];\n\n  let messageText = \"\";\n  let mediaId = null;\n  let mediaCaption = null;\n  let location = null;\n  let contactsShared = null;\n\n  switch (msg.type) {\n    case \"text\":\n      messageText = msg.text?.body || \"\";\n      break;\n\n    case \"interactive\":\n      if (msg.interactive?.type === \"button_reply\") {\n        messageText = msg.interactive.button_reply?.title || \"[button reply]\";\n      } else if (msg.interactive?.type === \"list_reply\") {\n        messageText = msg.interactive.list_reply?.title || \"[list reply]\";\n      } else {\n        messageText =\n          msg.interactive?.button_reply?.title ||\n          msg.interactive?.list_reply?.title ||\n          \"[interactive]\";\n      }\n      break;\n\n    case \"button\":\n      messageText = msg.button?.text || \"[button]\";\n      break;\n\n    case \"image\":\n      mediaId = msg.image?.id || null;\n      mediaCaption = msg.image?.caption || \"\";\n      messageText = mediaCaption ? `[image] ${mediaCaption}` : \"[image]\";\n      break;\n\n    case \"document\":\n      mediaId = msg.document?.id || null;\n      mediaCaption = msg.document?.caption || msg.document?.filename || \"\";\n      messageText = mediaCaption ? `[document] ${mediaCaption}` : \"[document]\";\n      break;\n\n    case \"audio\":\n      mediaId = msg.audio?.id || null;\n      messageText = \"[audio message]\";\n      break;\n\n    case \"voice\":\n      mediaId = msg.voice?.id || null;\n      messageText = \"[voice message]\";\n      break;\n\n    case \"video\":\n      mediaId = msg.video?.id || null;\n      mediaCaption = msg.video?.caption || \"\";\n      messageText = mediaCaption ? `[video] ${mediaCaption}` : \"[video]\";\n      break;\n\n    case \"sticker\":\n      mediaId = msg.sticker?.id || null;\n      messageText = \"[sticker]\";\n      break;\n\n    case \"location\":\n      location = {\n        latitude: msg.location?.latitude ?? null,\n        longitude: msg.location?.longitude ?? null,\n        name: msg.location?.name || \"\",\n        address: msg.location?.address || \"\"\n      };\n      messageText = `[location] ${location.name || \"\"} ${location.address || \"\"}`.trim() || \"[location shared]\";\n      break;\n\n    case \"contacts\":\n      contactsShared = msg.contacts || [];\n      messageText = \"[contact shared]\";\n      break;\n\n    default:\n      messageText = `[unsupported message type: ${msg.type || \"unknown\"}]`;\n  }\n\n  return [\n    {\n      json: {\n        phone: msg.from,\n        profileName: contact?.profile?.name || \"\",\n        message: messageText,\n        messageId: msg.id,\n        messageType: msg.type || \"unknown\",\n        mediaId,\n        mediaCaption,\n        location,\n        contactsShared,\n        timestamp: msg.timestamp,\n        phoneNumberId: value.metadata?.phone_number_id,\n        wa_id: contact?.wa_id || msg.from\n      }\n    }\n  ];\n} catch (err) {\n  // Never throw вЂ” always return a safe, loggable fallback item\n  console.log(JSON.stringify({ ts: new Date().toISOString(), extractDataError: String(err && err.message ? err.message : err) }));\n  return [\n    {\n      json: {\n        phone: null,\n        profileName: \"\",\n        message: \"[unparsed message]\",\n        messageId: null,\n        messageType: \"unknown\",\n        mediaId: null,\n        mediaCaption: null,\n        location: null,\n        contactsShared: null,\n        timestamp: null,\n        phoneNumberId: null,\n        wa_id: null,\n        error: String(err && err.message ? err.message : err)\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        416
      ],
      "id": "5975b275-c285-4d98-8e39-d896ddf751b3",
      "name": "Extract Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2176,
        416
      ],
      "id": "3e835302-3a91-4aaf-998e-8af6a7d335c3",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message: {{ $('Extract Data').item.json.message }}\n\nThis is the Person's Phone Number: {{ $('Extract Data').item.json.phone }}\nProfile Name: {{ $('Extract Data').item.json.profileName }}",
        "options": {
          "systemMessage": "=You are Nexora AI вЂ” the official sales consultant of Nexora Lab, a premium AI Automation & Digital Transformation agency founded by Shivansh. You talk to business owners on WhatsApp who came from our Meta ads. Most of them run real estate businesses, but we serve every industry.\n\nYou are not a support bot. You are a sharp, warm, consultative closer. Your job: understand their business deeply, diagnose their real problem, show them exactly how Nexora Lab solves it, and get them to book a free strategy call with Shivansh's team. Every conversation you have IS a live demo of the product we sell вЂ” so every reply must feel impressively human, fast, and intelligent.\n\nCURRENT DATE & TIME:\n{{ $json.currentDate }}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nLANGUAGE RULE вЂ” ENGLISH FIRST, THEN MIRROR (STRICT)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nDEFAULT LANGUAGE IS ENGLISH. Your first message and every message must be in clean, confident, 100% English вЂ” zero Hindi words вЂ” UNLESS the customer themselves writes in another language.\n\nDecide the language ONLY from the customer's own LATEST message. NEVER guess from their name, phone number, or location. An Indian name does NOT mean Hindi.\n\nSwitching rules:\n- Customer's latest message is pure English в†’ reply in pure English. Do NOT mix in any Hindi/Hinglish words (\"ji\", \"haan\", \"aapke\", \"bilkul\" are all forbidden in English replies).\n- Customer writes in Hindi/Hinglish в†’ switch to natural Hinglish (Roman Hindi, the way real people text: \"Haan ji, bilkul ho sakta hai\").\n- Customer writes in Gujarati в†’ Gujarati. Marathi в†’ Marathi. Any other language в†’ that language.\n- If the customer switches language mid-conversation, you switch with them from your very next message.\n- Greetings like \"Hi\"/\"Hello\" are English в†’ respond in English. \"Namaste\"/\"Kaise ho\" are Hindi в†’ respond in Hinglish.\n\nThis prompt contains many Hinglish example lines. They are ONLY templates for Hindi/Hinglish-speaking customers. When the customer writes in English, deliver the same idea in pure English. The examples show WHAT to say вЂ” this rule decides the LANGUAGE.\n\nMirror their energy: formal customer = respectful and polished; casual customer = friendly and relaxed. Use their name once you know it вЂ” people love hearing their own name.\n\nTexting style rules:\n- 1-3 short sentences per message. Never a paragraph wall.\n- One question at a time. Never stack questions.\n- Sound like a smart consultant texting from his phone, not a corporate email.\n- Small human touches are good: \"Achha samajh gaya\", \"Got it\", \"Interesting!\" вЂ” but never overdo it.\n- Never use emojis in more than ~30% of messages, and max one emoji per message.\n- NEVER output your reasoning, tool names, JSON, or internal steps. Only the message the customer sees.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nIDENTITY\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n- Never volunteer that you are an AI.\n- If asked directly (\"bot ho kya?\", \"are you AI?\"): answer honestly and turn it into a selling point, in their language. Example (Hinglish): \"Haan ji, main Nexora Lab ka AI agent hoon вЂ” aur jo baat aap abhi mujhse kar rahe hain, exactly yehi system hum aapke business ke liye bana dete hain. Aapke customers ko bhi aise hi 24/7 instant replies milenge.\"\n- That line converts. An impressed prospect who realizes they've been talking to AI is your strongest demo.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nGREETING RULE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nTreat a message as a fresh start ONLY if the customer's ENTIRE message is a plain greeting/acknowledgment: \"Hi\", \"Hello\", \"Hey\", \"Namaste\", \"Good morning\", \"Ok\", \"Thanks\".\nIf a greeting comes WITH anything else (question, answer, detail, date/time) вЂ” it is NOT a fresh start. Continue the flow.\nNever re-greet or ask \"how can I help\" mid-conversation.\n\nFresh-start examples (match the language of THEIR greeting):\n- They said \"Hi\"/\"Hello\"/\"Hey\" (English) в†’ English: \"Hi! Welcome to Nexora Lab. I'm Nexora AI. What business are you running?\"\n- They said \"Namaste\"/\"Kaise ho\" (Hindi) в†’ Hinglish: \"Namaste! Nexora Lab mein swagat hai. Main Nexora AI hoon. Aap kaunsa business run karte hain?\"\nDefault to English whenever the greeting is English or ambiguous.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nABOUT NEXORA LAB (never invent beyond this)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nNexora Lab builds complete AI business systems вЂ” not just chatbots. Founded by Shivansh. We help businesses stop losing leads, cut manual work, and grow revenue with AI.\n\nSERVICES:\n1. AI WhatsApp Automation вЂ” 24/7 instant replies, lead qualification, follow-ups, appointment booking, full CRM dashboard where the owner sees every chat, lead, and booking live.\n2. AI Voice Agents вЂ” AI receptionist that picks up every call 24/7, speaks naturally, qualifies leads, books appointments, handles inbound & outbound calling.\n3. Website Development вЂ” high-converting landing pages, 3D & animated websites, business sites, custom web apps, modern UI/UX built to turn visitors into leads.\n4. Meta Ads Management вЂ” Facebook & Instagram campaigns, lead generation, retargeting, creatives, optimization, and reporting.\n5. Custom AI Solutions вЂ” internal AI assistants, document AI, AI knowledge bases, any custom automation/SaaS/software a business needs.\n6. Integrations вЂ” WhatsApp, Google Calendar, Google Sheets, CRMs, payment gateways, email, APIs, databases.\n\nIndustries: all вЂ” currently strongest in Real Estate. Also Healthcare, Education, Coaching, Restaurants, E-commerce, Manufacturing, Services, Agencies, Startups.\n\nProof points you may use naturally (do not spam them):\n- \"Aap abhi jis system se baat kar rahe hain, yehi hum bech-te hain вЂ” live demo aapke saamne hai.\"\n- Real estate owners lose most site-visit bookings because leads message at night and nobody replies вЂ” our AI replies in seconds, 24/7.\n\nPRICING RULE: Never quote exact prices. If pushed: \"Pricing depends on aapke exact requirement par вЂ” isiliye free strategy call hoti hai, wahan Shivansh sir ki team aapko exact scope aur investment bata degi.\" You MAY ask THEIR budget range to qualify them.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nSALES FLOW вЂ” DISCOVER в†’ DIAGNOSE в†’ PRESCRIBE в†’ CLOSE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nIMPORTANT: All Hinglish example lines below (in this section and every section after it) are ONLY for customers who write in Hindi/Hinglish. If the customer is writing in English, express the same idea in pure English with zero Hindi words. The examples show WHAT to say, not which language to say it in вЂ” the LANGUAGE RULE above always decides the language.\n\nMove through these naturally, ONE question per message. Don't interrogate вЂ” react to each answer like a human would (\"Ohh real estate, great market\" / \"Ohh real estate, great market abhi\"), then ask the next thing.\n\n1. BUSINESS вЂ” What do they do? Which city/market?\n2. PROBLEM вЂ” What's hurting? Missed leads? Slow replies? No follow-up? Calls unanswered? Weak website? Ads not converting?\n3. IMPACT вЂ” Make the pain real: \"Roughly kitni enquiries aati hain month mein? Aur kitni response na milne ki wajah se nikal jaati hain?\"\n4. PRESCRIBE вЂ” Recommend the ONE best-fit service (you decide) and explain in 2-3 lines exactly what it will do for THEIR business with THEIR numbers. Be specific, not generic.\n   Example: \"Aapke case mein AI WhatsApp Agent perfect hai вЂ” raat ko 2 baje bhi enquiry aaye toh 10 second mein reply, property details bhejega, site visit book karega, aur aapko CRM mein sab dikhega.\"\n5. BUDGET вЂ” Only once they're engaged: \"Approx kitna monthly investment plan kar rahe hain iske liye?\" Never lead with budget.\n6. EXPECTATION вЂ” \"Aapko is system se sabse zyada kya chahiye вЂ” zyada leads, time bachana, ya dono?\"\n7. CLOSE вЂ” Ask for the booking confidently: \"Best next step: Shivansh sir ki team ke saath ek free 30-minute strategy call. Wahan aapke business ka exact automation plan banega. Kal ka time chalega?\"\n\nNAME & PHONE: Collect the name naturally during the flow. You already have their WhatsApp number вЂ” confirm it only if needed for the call: \"Isi number par call karein ya koi aur number?\"\n\nOBJECTION HANDLING (short, confident, never pushy):\n- \"Costly hoga\" в†’ \"Investment aapke scope pe depend karta hai вЂ” but ek missed lead ki cost socho. Real estate mein ek deal miss hui toh lakhs ka loss. Call pe exact numbers mil jayenge.\"\n- \"Sochke batata hoon\" в†’ \"Bilkul, time lijiye. Ek kaam karte hain вЂ” free call book kar lete hain, koi commitment nahi. Plan pasand na aaye toh mana kar dena.\"\n- \"Trust kaise karein\" в†’ \"Fair question. Jo system aapse abhi baat kar raha hai, yehi humara product hai вЂ” aap khud experience kar rahe hain. Call pe live demo bhi milega.\"\nIf they say a clear NO twice в†’ respect it, stay warm, leave the door open: \"Koi baat nahi! Jab bhi lagаҐ‡ automation ki zaroorat hai, message kar dena. All the best!\"\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nLEAD CAPTURE\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nTrigger Lead_Capture ONCE per conversation вЂ” the first time you have: name + business + problem (budget optional).\nSheet columns mapping:\n- Name в†’ customer's name\n- Phone Number в†’ customer's number\n- Requirements в†’ ONE line combining business + problem + recommended service + budget. Example: \"Real estate Indore, leads not followed up at night, AI WhatsApp Agent, Budget: 20-25k/month\"\n- Interested в†’ \"Yes\" or \"No\"\n- Booking Time в†’ \"Not Booked\" (default)\n- Event ID в†’ \"NA\" (default)\nAny update later (booking, cancellation, interest change) в†’ Update_Lead ONLY. Never call Lead_Capture twice for the same person.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nCONSULTATION BOOKING\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nTrigger ONLY when the customer clearly agrees to book (\"haan book karo\", \"yes let's do it\", \"kal 4 baje\", \"schedule the call\").\n\nWe are available 24/7 вЂ” never mention slot restrictions, never check availability. Overlapping bookings are fine.\n\nAsk: \"Kaunsi date aur approx kaunsa time convenient rahega aapke liye?\"\n- Only date given в†’ ask time. Only time given в†’ ask date. Resolve relative dates (\"kal\", \"parso\", \"Sunday\") using CURRENT DATE & TIME above.\n\nOnce BOTH date and time are confirmed, execute in this exact order:\n1. Lead_Capture (if not already done in this conversation)\n2. book_calendar вЂ” 30-minute event, title: \"Nexora Lab Consultation - [Customer Name]\". Description MUST include: Name, Phone, Business, Requirement, Budget, Service Interested.\n3. Sync_Appointment_CRM вЂ” action: \"book\", phone: customer's number, name: customer's name, startTime: the confirmed slot in ISO 8601 with +05:30 timezone (e.g. \"2026-07-10T16:00:00+05:30\"), googleEventId: the event ID returned by book_calendar, notes: same one-line summary as Requirements.\n4. Update_Lead вЂ” Booking Time: confirmed date/time, Event ID: from book_calendar, Interested: \"Yes\".\n5. ONLY after tools succeed, confirm to the customer: \"Done! Aapki strategy call [date] ko [time] par confirm ho gayi hai вњ… Shivansh sir ki team aapko isi number par call karegi.\"\n\nIf any tool fails or times out:\nSay: \"Ek second, booking system thoda slow chal raha hai. Main aapki request team ko forward kar raha hoon вЂ” wo jaldi confirm kar denge.\" Then: Lead_Capture (if pending) в†’ Update_Lead (Interested: \"Yes\", note: \"Follow Up Required - booking failed\").\nNEVER leave them hanging. NEVER say you'll \"check and reply later\". Always give the next step.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nAPPOINTMENT CHECK\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nOnly when asked (\"meri call kab hai?\", \"booking confirm hai?\"):\nGet_Lead в†’ if Event ID exists в†’ check_calendar в†’ reply with confirmed details.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nCANCELLATION\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nOnly when explicitly requested:\n1. Get_Lead в†’ fetch Event ID\n2. Cancel_Appointment\n3. Sync_Appointment_CRM вЂ” action: \"cancel\", phone: customer's number, googleEventId: the Event ID\n4. Update_Lead вЂ” Booking Time: \"Not Booked\", Event ID: \"NA\"\n5. Confirm warmly and try to rebook once: \"Cancel ho gaya. Koi aur din try karein? Jo bhi time suit kare, bata dena.\"\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nESCALATION\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nEscalate when the customer: asks deep technical/pricing details you can't answer confidently, is repeatedly unhappy, or explicitly asks for a human.\nSay: \"Samajh gaya вЂ” Shivansh sir aapse personally connect karenge. Naam aur number confirm kar dijiye?\" Then Lead_Capture (if pending) and stop selling.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nTOOL ORDER SUMMARY\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nQualify в†’ Lead_Capture (once) в†’ book_calendar в†’ Sync_Appointment_CRM (book) в†’ Update_Lead\nCheck: Get_Lead в†’ check_calendar в†’ reply\nCancel: Get_Lead в†’ Cancel_Appointment в†’ Sync_Appointment_CRM (cancel) в†’ Update_Lead\ncheck_calendar is ONLY for confirming existing bookings вЂ” never for availability.\nDo NOT use Reminder_Tool.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nANTI-DUPLICATE RULES (critical)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n- Exactly ONE reply per customer message. Never two messages back to back.\n- Never call the same tool twice for the same purpose in one turn.\n- Once a tool succeeds, trust it and move on вЂ” no re-checking.\n- Minimum tool calls per message. Extra calls = slow replies = bad demo.\n- If unsure whether you already replied вЂ” don't repeat, move forward.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nGOLDEN RULES\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n- Never confirm a booking before tool success.\n- Never invent pricing, timelines, or capabilities.\n- Every message: short, human, one question, forward momentum.\n- You are the demo. Reply speed, intelligence, and warmth ARE the product.\n- The goal of every conversation is a booked strategy call with a fully qualified lead: name, business, problem, budget, expectation вЂ” all captured before the call.\n\nABSOLUTE OUTPUT RULE вЂ” NO REPETITION:\nNever repeat the same sentence or question twice in one reply. Say each thing exactly once. If a tool call fails, do NOT re-state your previous sentence вЂ” either retry the tool silently or reply once asking the customer to confirm the needed detail. One reply = each idea stated a single time, maximum 2-4 short sentences.\n\nMANDATORY EVENT FORMAT (book_calendar):\nEvery calendar event you create MUST have summary \"Nexora Lab Consultation - <name>\" and a description containing these lines: Name: <name> | Phone: <WhatsApp number with country code, digits only> | Business: <business> | Requirement: <requirement> | Service: <service>. The Phone line is NON-NEGOTIABLE вЂ” the CRM sync depends on it. When booking for a friend or third person, use the FRIEND'S name and the FRIEND'S phone number, not the person chatting.",
          "maxIterations": 8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2400,
        416
      ],
      "id": "f66cd754-d4e6-4f3f-acac-3591162b9585",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2224,
        656
      ],
      "id": "1a03ffa0-b3ec-48c4-a2a4-30591dd5a755",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k9nrH6bYCjv60qk0",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Requirements": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requirements', ``, 'string') }}",
            "Interested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested', ``, 'string') }}",
            "Booking Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_Time', ``, 'string') }}",
            "Event ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2512,
        656
      ],
      "id": "41f9eac7-a430-4138-9962-7e75c9e95852",
      "name": "Lead Capture",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Requirements": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Requirements', ``, 'string') }}",
            "Interested": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Interested', ``, 'string') }}",
            "Booking Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Booking_Time', ``, 'string') }}",
            "Event ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requirements",
              "displayName": "Requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Interested",
              "displayName": "Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Booking Time",
              "displayName": "Booking Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event ID",
              "displayName": "Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2640,
        656
      ],
      "id": "ae76c3ea-80af-4d0c-891b-1141220c4221",
      "name": "Update_Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY",
          "mode": "list",
          "cachedResultName": "Nexora lab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x9EMBAlJlNs0MO0cY-wANP3X9wDuAErGzRG7zFSioRY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2784,
        656
      ],
      "id": "d1cb4c2b-2b7c-4c66-a0f8-38fa661cf1fe",
      "name": "Get_Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QT5DUMKZrjL3I1b0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2928,
        656
      ],
      "id": "6c29eff2-8cf3-48c9-92fb-9d8f507a95b8",
      "name": "check_calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', 'REQUIRED format, one per line: Name: <customer name> | Phone: <WhatsApp number with country code, digits only> | Business: <business type> | Requirement: <what they need> | Service: <service interested>. The Phone line is MANDATORY.', 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', 'Format: Nexora Lab Consultation - <customer name>', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3072,
        656
      ],
      "id": "e91b01bd-5ff3-495b-ad7d-03bb44e89509",
      "name": "book_calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "shivanshpatidar516@gmail.com",
          "mode": "list",
          "cachedResultName": "shivanshpatidar516@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3200,
        656
      ],
      "id": "a28d0bb5-93a3-4cb2-804d-2e2e2800fc7a",
      "name": "Cancel_Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Hanh4lJpWlWb5Im7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool upon booking is done and send all the information like when is the appointment booked for, Name of the Person who has booked the appointment and all the other details, this tool sets up the Reminder Flow for the particular person\n",
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.REMINDER_WORKFLOW_ID }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Time Booked At": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time_Booked_At', ``, 'string') }}",
            "Reason": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reason', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Time Booked At",
              "displayName": "Time Booked At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3344,
        656
      ],
      "id": "c0650fcd-b75e-4773-a99f-f9451a74cf5c",
      "name": "Reminder_Tool"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"status\": \"read\",\n  \"message_id\": \"{{ $('Extract Data').item.json.messageId }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2400,
        240
      ],
      "id": "5444e436-9f8a-4572-934e-aaa99e914a02",
      "name": "Mark as Read",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($('Prepare Reply').item.json.replyText) }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3072,
        416
      ],
      "id": "772fb1c6-7387-4e0a-817d-93b4d80e2d11",
      "name": "Send WhatsApp Reply",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Structured, production-safe execution log вЂ” never throws, never blocks the workflow\ntry {\n  let extract = {};\n  try { extract = $('Extract Data').item.json || {}; } catch (e) { extract = {}; }\n\n  let aiReply = null;\n  try { aiReply = $('Prepare Reply').item.json.replyText; } catch (e) { aiReply = null; }\n\n  let sendRes = {};\n  try { sendRes = $input.first().json || {}; } catch (e) { sendRes = {}; }\n\n  const log = {\n    ts: new Date().toISOString(),\n    customer: { phone: extract.phone || null, name: extract.profileName || '', msgType: extract.messageType || 'unknown' },\n    inbound: extract.message || null,\n    aiReply: aiReply,\n    sent: !!(sendRes && sendRes.messages),\n    metaMsgId: sendRes?.messages?.[0]?.id || null,\n    error: sendRes?.error || null\n  };\n\n  console.log(JSON.stringify(log));\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), loggerError: String(err && err.message ? err.message : err) }));\n}\n\nreturn [{ json: { status: 'EVENT_LOGGED' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        416
      ],
      "id": "7bf68b99-8d75-4abe-8b14-87ebc9c56925",
      "name": "Execution Logger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data').item.json.phone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2416,
        624
      ],
      "id": "a0b30036-1a5a-4203-a2db-4d7b444065f4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-messages-array",
              "leftValue": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        416
      ],
      "id": "21b4e57b-20fb-4ef1-b84d-e404309416f0",
      "name": "Filter Messages Only",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Status/receipt event (sent, delivered, read, etc.) вЂ” safely ignored, never throws\ntry {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), event: 'non_message_event_ignored' }));\n} catch (err) {\n  // never throw\n}\nreturn [{ json: { status: 'IGNORED_NON_MESSAGE_EVENT' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        672
      ],
      "id": "d61b9335-49b9-4c09-b7ab-edb58edc92bc",
      "name": "Ignore Non-Message Event",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"received\" } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        416
      ],
      "id": "36f5108b-c6f2-43ca-a244-3073aa114b05",
      "name": "Ack Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Safely normalize the AI Agent output before sending to WhatsApp - never throws.\n// Also strips REPEATED lines/sentences: the n8n LangChain agent can concatenate\n// near-identical text from multiple tool-loop iterations into one output, which\n// looks like the bot spamming the same sentence 4-5 times. We keep only the\n// first occurrence of each (normalized) line so the customer always gets a\n// clean, human-looking single reply.\nconst FALLBACK = \"Sorry, we hit a small technical issue. Please send your message again in a moment.\";\ntry {\n  const aiItem = $input.first().json;\n  let replyText = aiItem?.output;\n\n  if (typeof replyText !== \"string\" || !replyText.trim()) {\n    replyText = FALLBACK;\n  }\n\n  // Normalize a line for comparison: lowercase, strip punctuation/whitespace\n  const normalize = (s) => s.toLowerCase().replace(/[^a-z0-9\\u0900-\\u097F]+/gi, \" \").trim();\n\n  // 1) Dedupe by line\n  const seen = new Set();\n  const lines = replyText.split(\"\\n\");\n  const keptLines = [];\n  for (const line of lines) {\n    const key = normalize(line);\n    if (!key) { keptLines.push(line); continue; } // keep blank lines for formatting\n    if (seen.has(key)) continue;                   // skip exact repeated line\n    seen.add(key);\n    keptLines.push(line);\n  }\n  replyText = keptLines.join(\"\\n\");\n\n  // 2) Dedupe by sentence within the whole reply (catches repeats on one line)\n  const sentSeen = new Set();\n  const parts = replyText.split(/(?<=[.!?\\u0964])\\s+/);\n  if (parts.length > 1) {\n    const keptSents = [];\n    for (const p of parts) {\n      const key = normalize(p);\n      if (key && key.split(\" \").length >= 4) {     // only dedupe real sentences, not short fragments\n        if (sentSeen.has(key)) continue;\n        sentSeen.add(key);\n      }\n      keptSents.push(p);\n    }\n    replyText = keptSents.join(\" \").replace(/[ \\t]+\\n/g, \"\\n\").trim();\n  }\n\n  // 3) Collapse 3+ blank lines left behind by removals\n  replyText = replyText.replace(/\\n{3,}/g, \"\\n\\n\").trim();\n\n  if (!replyText) {\n    replyText = FALLBACK;\n  }\n\n  return [{ json: { replyText } }];\n} catch (err) {\n  return [{ json: { replyText: FALLBACK } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        272
      ],
      "id": "b00d8105-abee-4a57-9e28-75fd5d96fcd3",
      "name": "Prepare Reply",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FINAL duplicate-send protection вЂ” runs immediately before the WhatsApp API call.\n// Even if a duplicate webhook delivery slipped past Dedup Guard earlier in the flow\n// (e.g. it arrived while this exact message was still being handled by the AI Agent),\n// this guarantees at most ONE outbound WhatsApp message per unique inbound message ID.\n// Kept intentionally lean (capped size + time-based expiry below) so the lookup stays\n// fast on every execution, forever вЂ” a bloated cache slows every future run down and\n// widens the collision window for the next message.\n// Fail-open: never blocks a real reply because of an internal error.\ntry {\n  const messageId = $('Extract Data').first().json.messageId;\n\n  if (!messageId) {\n    // No message ID to key off вЂ” allow the send rather than risk silently dropping a real reply\n    return [{ json: $input.first().json }];\n  }\n\n  const cache = $getWorkflowStaticData('global');\n  if (!cache.sentReplies) {\n    cache.sentReplies = {};\n  }\n\n  const now = Date.now();\n  const MAX_AGE_MS = 6 * 60 * 60 * 1000; // 6 hours is plenty вЂ” real duplicates arrive within seconds/minutes\n  const MAX_ENTRIES = 300;\n\n  // Housekeeping: only runs once the cache actually grows, first by age then by size.\n  const keys = Object.keys(cache.sentReplies);\n  if (keys.length > MAX_ENTRIES) {\n    for (const k of keys) {\n      if (now - cache.sentReplies[k] > MAX_AGE_MS) {\n        delete cache.sentReplies[k];\n      }\n    }\n    const remaining = Object.keys(cache.sentReplies);\n    if (remaining.length > MAX_ENTRIES) {\n      const sorted = remaining.sort((a, b) => cache.sentReplies[a] - cache.sentReplies[b]);\n      for (let i = 0; i < sorted.length - MAX_ENTRIES; i++) {\n        delete cache.sentReplies[sorted[i]];\n      }\n    }\n  }\n\n  if (cache.sentReplies[messageId]) {\n    // A reply for this exact inbound message has already been sent вЂ” stop here\n    console.log(JSON.stringify({ ts: new Date().toISOString(), sendGuardBlocked: messageId }));\n    return [];\n  }\n\n  cache.sentReplies[messageId] = now;\n  return [{ json: $input.first().json }];\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), sendGuardError: String(err && err.message ? err.message : err) }));\n  return [{ json: $input.first().json }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        416
      ],
      "id": "33b86d56-7579-4961-ab2c-49f42c620fd7",
      "name": "Send Guard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"profileName\": \"{{ $('Extract Data').item.json.profileName }}\",\n  \"message\": {{ JSON.stringify($('Extract Data').item.json.message) }},\n  \"messageId\": \"{{ $('Extract Data').item.json.messageId }}\",\n  \"messageType\": \"{{ $('Extract Data').item.json.messageType }}\",\n  \"wa_id\": \"{{ $('Extract Data').item.json.wa_id }}\",\n  \"timestamp\": \"{{ $('Extract Data').item.json.timestamp }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1952,
        1040
      ],
      "id": "fa33afe9-e30d-49f6-9d52-65ea996d26f1",
      "name": "Sync Inbound to CRM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/ai-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Extract Data').item.json.phone }}\",\n  \"replyText\": {{ JSON.stringify($('Prepare Reply').item.json.replyText) }},\n  \"messageId\": \"{{ $input.first().json.messages?.[0]?.id || 'ai_' + Date.now() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3296,
        1040
      ],
      "id": "365301d9-07ea-4121-8fee-7133bc9ec7ca",
      "name": "Save AI Reply to CRM",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-agent-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3824,
        80
      ],
      "id": "e63b6085-70ba-46d3-96f6-097a49fda8e4",
      "name": "CRM Reply Webhook",
      "webhookId": "crm-reply-0001-0001-0001-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Fetch contact phone number from Supabase for CRM agent reply\n// Env vars: SUPABASE_URL, SUPABASE_SERVICE_KEY, WORKSPACE_ID\ntry {\n  const body = $input.first().json.body || $input.first().json;\n  const { conversation_id, workspace_id, agent_id, message, timestamp } = body;\n\n  if (!conversation_id || !message) {\n    return [{ json: { error: 'Missing conversation_id or message', ok: false } }];\n  }\n\n  const SB_URL = $env.SUPABASE_URL;\n  const SB_KEY = $env.SUPABASE_SERVICE_KEY;\n\n  if (typeof fetch === 'undefined') {\n    console.log(JSON.stringify({ ts: new Date().toISOString(), node: 'CRM Prepare Send', skip: 'fetch unavailable' }));\n    return [{ json: { ok: false, error: 'fetch unavailable' } }];\n  }\n  if (!SB_URL || !SB_KEY) {\n    return [{ json: { error: 'Supabase env vars not configured', ok: false } }];\n  }\n\n// 5-second timeout wrapper вЂ” prevents hanging if Supabase is unreachable\n  function withTimeout(promise, ms) {\n    return Promise.race([\n      promise,\n      new Promise((_, reject) => setTimeout(() => reject(new Error('CRM fetch timeout')), ms))\n    ]);\n  }\n  async function sbFetch(url, opts) {\n    for (let attempt = 0; attempt < 2; attempt++) {\n      try { return await withTimeout(fetch(url, opts), 5000); } catch (e) {\n        if (attempt === 1) throw e;\n        await new Promise(r => setTimeout(r, 500));\n      }\n    }\n  }\n\n  const headers = {\n    'Content-Type': 'application/json',\n    apikey: SB_KEY,\n    Authorization: `Bearer ${SB_KEY}`\n  };\n\n  // Fetch conversation with contact phone (Supabase foreign-key join)\n  const convRes = await sbFetch(\n    `${SB_URL}/rest/v1/conversations?id=eq.${conversation_id}&select=id,contact_id,contacts(phone_number,name)`,\n    { headers }\n  );\n  const convs = await convRes.json();\n\n  if (!Array.isArray(convs) || !convs.length || !convs[0].contacts?.phone_number) {\n    return [{ json: { error: 'Conversation or contact not found', conversation_id, ok: false } }];\n  }\n\n  return [{ json: {\n    ok: true,\n    conversation_id,\n    workspace_id: workspace_id || $env.WORKSPACE_ID || '',\n    agent_id: agent_id || '',\n    message: (message || '').trim(),\n    timestamp: timestamp || new Date().toISOString(),\n    phone: convs[0].contacts.phone_number,\n    contactName: convs[0].contacts.name || convs[0].contacts.phone_number\n  }}];\n} catch (err) {\n  console.log(JSON.stringify({ ts: new Date().toISOString(), crmPrepareErr: String(err?.message || err) }));\n  return [{ json: { error: String(err?.message || err), ok: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4064,
        80
      ],
      "id": "c10700aa-2043-4f09-900f-fe821b2dd04b",
      "name": "CRM Prepare Send",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/1119253784615649/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($json.message) }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4304,
        80
      ],
      "id": "9d07bab8-def0-4a2b-9af0-62a9c1749852",
      "name": "CRM Send WhatsApp",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fGIpKhYC567kkf79",
          "name": "Meta WhatsApp Access Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/ai-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('CRM Prepare Send').item.json.to }}\",\n  \"replyText\": {{ JSON.stringify($('CRM Prepare Send').item.json.replyText) }},\n  \"messageId\": \"{{ $input.first().json.messages?.[0]?.id || 'crm_' + Date.now() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4544,
        80
      ],
      "id": "a1219add-0cdf-4678-af40-fa3bb0f17d65",
      "name": "CRM Sync Reply",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Sync a booked or cancelled consultation into the Nexora CRM so it appears on the Appointments page. Call with action \"book\" immediately after book_calendar succeeds, or action \"cancel\" immediately after Cancel_Appointment succeeds.",
        "method": "POST",
        "url": "https://nexora-crm-chi.vercel.app/api/webhook/appointment",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "x-webhook-secret",
              "valueProvider": "fieldValue",
              "value": "nnhA4Z3hz77E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"{action}\",\n  \"phone\": \"{phone}\",\n  \"name\": \"{name}\",\n  \"startTime\": \"{startTime}\",\n  \"googleEventId\": \"{googleEventId}\",\n  \"notes\": \"{notes}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "action",
              "description": "Either \"book\" (after book_calendar succeeds) or \"cancel\" (after Cancel_Appointment succeeds)",
              "type": "string"
            },
            {
              "name": "phone",
              "description": "Customer WhatsApp number, digits only with country code, e.g. 916265581678",
              "type": "string"
            },
            {
              "name": "name",
              "description": "Customer full name",
              "type": "string"
            },
            {
              "name": "startTime",
              "description": "Confirmed slot in ISO 8601 with IST timezone, e.g. 2026-07-10T16:00:00+05:30. Required for book, use empty string for cancel.",
              "type": "string"
            },
            {
              "name": "googleEventId",
              "description": "The Google Calendar event ID returned by book_calendar (or from Get_Lead when cancelling)",
              "type": "string"
            },
            {
              "name": "notes",
              "description": "One-line summary: business, requirement, budget, service interested. Empty string for cancel.",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2944,
        1024
      ],
      "id": "1222137d-6358-48de-8687-045cfdf092de",
      "name": "Sync_Appointment_CRM",
      "retryOnFail": true,
      "maxTries": 2
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Ack Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Guard": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync Inbound to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Capture": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "book_calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel_Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reminder_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save AI Reply to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Filter Messages Only": {
      "main": [
        [
          {
            "node": "Dedup Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Non-Message Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Webhook": {
      "main": [
        [
          {
            "node": "Filter Messages Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Send Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Guard": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Reply Webhook": {
      "main": [
        [
          {
            "node": "CRM Prepare Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Prepare Send": {
      "main": [
        [
          {
            "node": "CRM Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Send WhatsApp": {
      "main": [
        [
          {
            "node": "CRM Sync Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync_Appointment_CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ca03925808e9c969f3c8e95dc50317e3bd5556ce532ef2228e477dbc0f2a571"
  }
}
